{
	"commitInterval": 30,
	"requestTimeout": 30,

	"chunkSize": 50,
	"maxSystemChunkSearches": 100,
	"maxWorldSearches": 500,
	"xyCoordRange": [-1000000000, 1000000000],
	"zCoordRange": [-100000000, 100000000],

	"systemProbability": 0.01,

	"planetOrbitalLevels": 12,
	"satelliteOrbitalLevels": 6,

	"planetRadialSlots": 12,
	"satelliteRadialSlots": 12,

	"constellationProbability": 0.8,
	"constellationLineCountRange": [4, 7],
	"constellationMaxTries": 500,
	"minimumConstellationLineLength": 5.0,
	"maximumConstellationLineLength": 25.0,
	"minimumConstellationMagnitude": 5,
	"minimumConstellationLineCloseness": 4,

	"twinkleFrames": 4,
	"twinkleScale": 0.5,

	"maxRecentlyVisitedSystems": 20,

	"terrestrialHorizonGraphics": {
		"default": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/barren_<selector>.png",
			"atmosphereTextures": "/celestial/system/terrestrial/horizon/atmosphere/atmosphere_<selector>.png",
			"shadowTextures": "/celestial/system/terrestrial/horizon/shadow/shadow_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/<mask>_<selector>.png",
			"liquidTextures": "/celestial/system/terrestrial/horizon/liquids/<liquid>_<selector>.png",
			"maskRange": [0, 0],
			"maskPerPlanetRange": [0, 0]
		},

		"alien": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/alien_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [3, 3]
		},

		"arctic": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/arctic_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/ocean/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [1, 2]
		},

		"barren": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/barren_<selector>.png",
			"maskPerPlanetRange": [0, 0]
		},
		
		"bones": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/bones_<selector>.png",
			"maskPerPlanetRange": [0, 0]
		},

		"desert": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/desert_<selector>.png",
			"maskPerPlanetRange": [0, 0]
		},

		"forest": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/forest_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [3, 3]
		},

		"garden": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/garden_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [3, 3]
		},

		"jungle": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/jungle_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [3, 3]
		},

		"magma": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/magma_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/ocean/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [1, 2]
		},

		"midnight": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/midnight_<selector>.png",
			"maskPerPlanetRange": [3, 3]
		},

		"moon": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/moon_<selector>.png",
			"maskPerPlanetRange": [0, 0]
		},

		"ocean": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/ocean_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/ocean/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [1, 2]
		},

		"savannah": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/savannah_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [3, 3]
		},

		"scorched": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/scorched_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [2, 3]
		},

		"slime": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/slime_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [2, 3]
		},

		"snow": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/snow_<selector>.png",
			"maskPerPlanetRange": [0, 0]
		},

		"toxic": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/toxic_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [2, 2]
		},

		"tundra": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/tundra_<selector>.png",
			"maskPerPlanetRange": [0, 0]
		},

		"volcanic": {
			"baseImages": "/celestial/system/terrestrial/horizon/textures/volcanic_<selector>.png",
			"maskTextures": "/celestial/system/terrestrial/horizon/masks/temperate/<mask>_<selector>.png",
			"maskRange": [1, 25],
			"maskPerPlanetRange": [3, 3]
		}
	},

	"asteroidsHorizons": "/celestial/system/asteroids/horizon/asteroidfield_<selector>.png",

	"floatingDungeonHorizons": {
		"ancientgateway": "/celestial/system/gate/horizon/gate_<selector>.png"
	},

	"terrestrialGraphics": {
		"default": {
			"liquidImages": "/celestial/system/terrestrial/liquids/<liquid>.png",
			"shadowImages": "/celestial/system/terrestrial/shadows/<num>.png",
			"shadowNumber": [1, 9],
			"baseImages": "/celestial/system/terrestrial/biomes/barren/maskie<num>.png",
			"baseCount": 3,
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/arid/<num>.png",
			"dynamicsRange": [1, 50]
		},

		"alien": {
			"baseImages": "/celestial/system/terrestrial/biomes/alien/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/temperate/<num>.png",
			"dynamicsRange": [1, 30]
		},

		"arctic": {
			"baseImages": "/celestial/system/terrestrial/biomes/arctic/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/ocean/<num>.png",
			"dynamicsRange": [1, 20]
		},

		"barren": {
			"baseImages": "/celestial/system/terrestrial/biomes/barren/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/arid/<num>.png",
			"dynamicsRange": [1, 50]
		},

		"bones": {
			"baseImages": "/celestial/system/terrestrial/biomes/bones/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/arid/<num>.png",
			"dynamicsRange": [1, 50]
		},
		
		"desert": {
			"baseImages": "/celestial/system/terrestrial/biomes/desert/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/arid/<num>.png",
			"dynamicsRange": [1, 50]
		},

		"forest": {
			"baseImages": "/celestial/system/terrestrial/biomes/forest/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/temperate/<num>.png",
			"dynamicsRange": [1, 30]
		},

		"garden": {
			"baseImages": "/celestial/system/terrestrial/biomes/garden/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/temperate/<num>.png",
			"dynamicsRange": [1, 30],
			"baseCount": 5
		},

		"jungle": {
			"baseImages": "/celestial/system/terrestrial/biomes/jungle/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/temperate/<num>.png",
			"dynamicsRange": [1, 30]
		},

		"magma": {
			"baseImages": "/celestial/system/terrestrial/biomes/magma/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/ocean/<num>.png",
			"dynamicsRange": [1, 20]
		},

		"midnight": {
			"baseImages": "/celestial/system/terrestrial/biomes/midnight/maskie<num>.png",
			"liquidImages": "",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/arid/<num>.png",
			"dynamicsRange": [1, 30]
		},

		"moon": {
			"baseImages": "/celestial/system/terrestrial/biomes/moon/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/arid/<num>.png",
			"dynamicsRange": [1, 50]
		},

		"ocean": {
			"baseImages": "/celestial/system/terrestrial/biomes/ocean/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/ocean/<num>.png",
			"dynamicsRange": [1, 20]
		},

		"savannah": {
			"baseImages": "/celestial/system/terrestrial/biomes/savannah/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/temperate/<num>.png",
			"dynamicsRange": [1, 30],
			"baseCount": 4
		},

		"scorched": {
			"baseImages": "/celestial/system/terrestrial/biomes/scorched/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/temperate/<num>.png",
			"dynamicsRange": [1, 30]
		},

		"slime": {
			"baseImages": "/celestial/system/terrestrial/biomes/slime/maskie<num>.png",
			"baseCount": 2
		},
		
		"snow": {
			"baseImages": "/celestial/system/terrestrial/biomes/snow/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/arid/<num>.png",
			"dynamicsRange": [1, 30],
			"baseCount": 4
		},

		"toxic": {
			"baseImages": "/celestial/system/terrestrial/biomes/toxic/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/temperate/<num>.png",
			"dynamicsRange": [1, 30],
			"baseCount": 2
		},

		"tundra": {
			"baseImages": "/celestial/system/terrestrial/biomes/tundra/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/arid/<num>.png",
			"dynamicsRange": [1, 50]
		},

		"volcanic": {
			"baseImages": "/celestial/system/terrestrial/biomes/volcanic/maskie<num>.png",
			"dynamicsImages": "/celestial/system/terrestrial/dynamics/temperate/<num>.png",
			"dynamicsRange": [1, 30]
		}

	},

	"gasGiantGraphics": {
		"baseImage": "/celestial/system/gas_giant/gas_giant_base.png",
		"shadowImages": "/celestial/system/gas_giant/shadows/<num>.png",
		"shadowNumber": [1, 9],
		"dynamicsImages": "/celestial/system/gas_giant/gas_giant_dynamics/<num>.png",
		"dynamicsRange": [1, 30],
		"overlayImages": "/celestial/system/gas_giant/gas_giant_clouds_<num>.png",
		"overlayCount": 2,

		"primaryHueShiftRange": [0, 360],
		"hueShiftOffsetRange": [-10, 10]
	},

	"systemTypes": {
		"White": {
			"selectionWeight": 1.0,
			"baseParameters": {
				"typeName": "whitestar",
				"image": "/celestial/system/whitestar.png",
				"twinkleTime": [1.0, 1.5]
			},
			"variationParameters": [{
				"magnitude": 3,
				"description": "Small White Star",
				"imageScale": 0.04,
				"twinkleFrames": "/celestial/stars/star7pxWhite.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star7px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 5,
				"description": "Medium White Star",
				"imageScale": 0.055,
				"twinkleFrames": "/celestial/stars/star13pxWhite.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star13px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 7,
				"description": "Large White Star",
				"imageScale": 0.075,
				"twinkleFrames": "/celestial/stars/star17pxWhite.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star17px.png",
				"brightness": [1, 1]
			}],
			"orbitRegions": [{
				"regionName": "Tier1",
				"orbitRange": [2, 10],
				"bodyProbability": 0.5,
				"planetaryTypes": [{
					"weight": 0.8,
					"item": "Tier2"
				}, {
					"weight": 0.12,
					"item": "GasGiant"
				}, {
					"weight": 0.04,
					"item": "Barren"
				}, {
					"weight": 0.04,
					"item": "AsteroidField"
				}],
				"satelliteTypes": [{
					"weight": 0.3,
					"item": "Tier1"
				}, {
					"weight": 0.7,
					"item": "Tier2"
				}]
			}, {
				"regionName": "Moon",
				"orbitRange": [11, 11],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "Moon"
				}],
				"satelliteTypes": []
			}, {
				"regionName": "Gate",
				"orbitRange": [12, 12],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "AncientGateway"
				}],
				"satelliteTypes": []
			}]
		},

		"Orange": {
			"selectionWeight": 1.0,
			"baseParameters": {
				"typeName": "orangestar",
				"image": "/celestial/system/orangestar.png",
				"twinkleTime": [1.0, 1.5]
			},
			"variationParameters": [{
				"magnitude": 3,
				"description": "Small Orange Star",
				"imageScale": 0.04,
				"twinkleFrames": "/celestial/stars/star7pxOrange.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star7px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 5,
				"description": "Medium Orange Star",
				"imageScale": 0.055,
				"twinkleFrames": "/celestial/stars/star13pxOrange.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star13px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 7,
				"description": "Large Orange Star",
				"imageScale": 0.075,
				"twinkleFrames": "/celestial/stars/star17pxOrange.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star17px.png",
				"brightness": [1, 1]
			}],
			"orbitRegions": [{
				"regionName": "Tier3",
				"orbitRange": [2, 10],
				"bodyProbability": 0.7,
				"planetaryTypes": [{
					"weight": 0.8,
					"item": "Tier3"
				}, {
					"weight": 0.12,
					"item": "GasGiant"
				}, {
					"weight": 0.04,
					"item": "Barren"
				}, {
					"weight": 0.04,
					"item": "AsteroidField"
				}],
				"satelliteTypes": [{
					"weight": 0.2,
					"item": "Tier2"
				}, {
					"weight": 0.6,
					"item": "Tier3"
				}, {
					"weight": 0.15,
					"item": "Tier4"
				}, {
					"weight": 0.05,
					"item": "Moon"
				}]
			}, {
				"regionName": "Moon",
				"orbitRange": [11, 11],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "Moon"
				}],
				"satelliteTypes": []
			}, {
				"regionName": "Gate",
				"orbitRange": [12, 12],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "AncientGateway"
				}],
				"satelliteTypes": []
			}]
		},

		"Yellow": {
			"selectionWeight": 1.0,
			"baseParameters": {
				"typeName": "yellowstar",
				"image": "/celestial/system/yellowstar.png",
				"twinkleTime": [1.0, 1.5]
			},
			"variationParameters": [{
				"magnitude": 3,
				"description": "Small Yellow Star",
				"imageScale": 0.04,
				"twinkleFrames": "/celestial/stars/star7pxYellow.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star7px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 5,
				"description": "Medium Yellow Star",
				"imageScale": 0.055,
				"twinkleFrames": "/celestial/stars/star13pxYellow.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star13px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 7,
				"description": "Large Yellow Star",
				"imageScale": 0.075,
				"twinkleFrames": "/celestial/stars/star17pxYellow.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star17px.png",
				"brightness": [1, 1]
			}],
			"orbitRegions": [{
				"regionName": "Tier4",
				"orbitRange": [2, 10],
				"bodyProbability": 0.7,
				"planetaryTypes": [{
					"weight": 0.8,
					"item": "Tier4"
				}, {
					"weight": 0.12,
					"item": "GasGiant"
				}, {
					"weight": 0.04,
					"item": "Barren"
				}, {
					"weight": 0.04,
					"item": "AsteroidField"
				}],
				"satelliteTypes": [{
					"weight": 0.2,
					"item": "Tier3"
				}, {
					"weight": 0.6,
					"item": "Tier4"
				}, {
					"weight": 0.15,
					"item": "Tier5"
				}, {
					"weight": 0.05,
					"item": "Moon"
				}]
			}, {
				"regionName": "Moon",
				"orbitRange": [11, 11],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "Moon"
				}],
				"satelliteTypes": []
			}, {
				"regionName": "Gate",
				"orbitRange": [12, 12],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "AncientGateway"
				}],
				"satelliteTypes": []
			}]
		},


		"Blue": {
			"selectionWeight": 1.0,
			"baseParameters": {
				"typeName": "bluestar",
				"image": "/celestial/system/bluestar.png",
				"twinkleTime": [1.0, 1.5]
			},
			"variationParameters": [{
				"magnitude": 3,
				"description": "Small Blue Star",
				"imageScale": 0.04,
				"twinkleFrames": "/celestial/stars/star7pxBlue.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star7px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 5,
				"description": "Medium Blue Star",
				"imageScale": 0.055,
				"twinkleFrames": "/celestial/stars/star13pxBlue.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star13px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 7,
				"description": "Large Blue Star",
				"imageScale": 0.075,
				"twinkleFrames": "/celestial/stars/star17pxBlue.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star17px.png",
				"brightness": [1, 1]
			}],
			"orbitRegions": [{
				"regionName": "Tier5",
				"orbitRange": [2, 10],
				"bodyProbability": 0.7,
				"planetaryTypes": [{
					"weight": 0.8,
					"item": "Tier5"
				}, {
					"weight": 0.12,
					"item": "GasGiant"
				}, {
					"weight": 0.04,
					"item": "Barren"
				}, {
					"weight": 0.04,
					"item": "AsteroidField"
				}],
				"satelliteTypes": [{
					"weight": 0.2,
					"item": "Tier4"
				}, {
					"weight": 0.6,
					"item": "Tier5"
				}, {
					"weight": 0.15,
					"item": "Tier6"
				}, {
					"weight": 0.05,
					"item": "Moon"
				}]
			}, {
				"regionName": "Moon",
				"orbitRange": [11, 11],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "Moon"
				}],
				"satelliteTypes": []
			}, {
				"regionName": "Gate",
				"orbitRange": [12, 12],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "AncientGateway"
				}],
				"satelliteTypes": []
			}]
		},

		"Red": {
			"selectionWeight": 1.0,
			"baseParameters": {
				"typeName": "redstar",
				"image": "/celestial/system/redstar.png",
				"twinkleTime": [1.0, 1.5]
			},
			"variationParameters": [{
				"magnitude": 3,
				"description": "Small Red Star",
				"imageScale": 0.04,
				"twinkleFrames": "/celestial/stars/star7pxRed.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star7px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 5,
				"description": "Medium Red Star",
				"imageScale": 0.055,
				"twinkleFrames": "/celestial/stars/star13pxRed.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star13px.png",
				"brightness": [1, 1]
			}, {
				"magnitude": 7,
				"description": "Large Red Star",
				"imageScale": 0.075,
				"twinkleFrames": "/celestial/stars/star17pxRed.png",
				"twinkleBackground": "/celestial/stars/backgrounds/star17px.png",
				"brightness": [1, 1]
			}],
			"orbitRegions": [{
				"regionName": "Tier6",
				"orbitRange": [2, 10],
				"bodyProbability": 0.7,
				"planetaryTypes": [{
					"weight": 0.8,
					"item": "Tier6"
				}, {
					"weight": 0.12,
					"item": "GasGiant"
				}, {
					"weight": 0.04,
					"item": "Barren"
				}, {
					"weight": 0.04,
					"item": "AsteroidField"
				}],
				"satelliteTypes": [{
					"weight": 0.3,
					"item": "Tier5"
				}, {
					"weight": 0.6,
					"item": "Tier6"
				}, {
					"weight": 0.1,
					"item": "Moon"
				}]
			}, {
				"regionName": "Moon",
				"orbitRange": [11, 11],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "Moon"
				}],
				"satelliteTypes": []
			}, {
				"regionName": "Gate",
				"orbitRange": [12, 12],
				"bodyProbability": 1.0,
				"planetaryTypes": [{
					"weight": 1.0,
					"item": "AncientGateway"
				}],
				"satelliteTypes": []
			}]
		}
	},

	"planetaryTypes": {
		"Tier1": {
			"satelliteProbability": 0.15,
			"maxSatelliteCount": 2,

			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 1 Planet",
				"smallImage": "/celestial/system/planet_small.png",

				"terrestrialType": ["garden", "forest"]
			},

			"variationParameters": [{
				"imageScale": 0.125,
				"smallImageScale": 0.5,
				"worldSize": "medium"
			}, {
				"imageScale": 0.15,
				"smallImageScale": 0.6,
				"worldSize": "large"
			}]
		},

		"Tier2": {
			"satelliteProbability": 0.15,
			"maxSatelliteCount": 2,

			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 2 Planet",
				"smallImage": "/celestial/system/planet_small.png",

				"terrestrialType": ["desert" , "slime"]
			},

			"variationParameters": [{
				"imageScale": 0.1,
				"smallImageScale": 0.5,
				"worldSize": "small"
			}, {
				"imageScale": 0.125,
				"smallImageScale": 0.5,
				"worldSize": "medium"
			}, {
				"imageScale": 0.15,
				"smallImageScale": 0.6,
				"worldSize": "large"
			}]
		},

		"Tier3": {
			"satelliteProbability": 0.15,
			"maxSatelliteCount": 2,

			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 3 Planet",
				"smallImage": "/celestial/system/planet_small.png",

				"terrestrialType": ["savannah", "snow", "ocean", "bones"]
			},

			"variationParameters": [{
				"imageScale": 0.125,
				"smallImageScale": 0.5,
				"worldSize": "medium"
			}, {
				"imageScale": 0.15,
				"smallImageScale": 0.6,
				"worldSize": "large"
			}]
		},

		"Tier4": {
			"satelliteProbability": 0.15,
			"maxSatelliteCount": 2,

			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 4 Planet",
				"smallImage": "/celestial/system/planet_small.png",

				"terrestrialType": ["toxic", "alien", "jungle", "bones"]
			},

			"variationParameters": [{
				"imageScale": 0.125,
				"smallImageScale": 0.5,
				"worldSize": "medium"
			}, {
				"imageScale": 0.15,
				"smallImageScale": 0.6,
				"worldSize": "large"
			}]
		},

		"Tier5": {
			"satelliteProbability": 0.15,
			"maxSatelliteCount": 2,

			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 5 Planet",
				"smallImage": "/celestial/system/planet_small.png",

				"terrestrialType": ["arctic", "tundra", "midnight"]
			},

			"variationParameters": [{
				"imageScale": 0.125,
				"smallImageScale": 0.5,
				"worldSize": "medium"
			}, {
				"imageScale": 0.15,
				"smallImageScale": 0.6,
				"worldSize": "large"
			}]
		},

		"Tier6": {
			"satelliteProbability": 0.15,
			"maxSatelliteCount": 2,

			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 6 Planet",
				"smallImage": "/celestial/system/planet_small.png",

				"terrestrialType": ["volcanic", "scorched", "magma" ]
			},

			"variationParameters": [{
				"imageScale": 0.125,
				"smallImageScale": 0.5,
				"worldSize": "medium"
			}, {
				"imageScale": 0.15,
				"smallImageScale": 0.6,
				"worldSize": "large"
			}]
		},

		"Moon": {
			"satelliteProbability": 0.0,

			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Moon Planet",
				"smallImage": "/celestial/system/planet_small.png",

				"terrestrialType": ["moon"]
			},

			"variationParameters": [{
				"imageScale": 0.125,
				"smallImageScale": 0.5,
				"worldSize": "medium"
			}]
		},

		"Barren": {
			"satelliteProbability": 0.0,

			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Barren Planet",
				"smallImage": "/celestial/system/planet_small.png",

				"terrestrialType": ["barren"]
			},

			"variationParameters": [{
				"imageScale": 0.075,
				"smallImageScale": 0.4,
				"worldSize": "small"
			}, {
				"imageScale": 0.1,
				"smallImageScale": 0.5,
				"worldSize": "medium"
			}, {
				"imageScale": 0.15,
				"smallImageScale": 0.6,
				"worldSize": "large"
			}]
		},


		"AsteroidField": {
			"satelliteProbability": 0.0,

			"baseParameters": {
				"worldType": "Asteroids",
				"description": "Asteroid Field",
				"smallImage": "/celestial/system/asteroids_small.png",
				"atmosphere": false,

				"maskImages": "/celestial/system/asteroids/base/maskie<num>.png",
				"masks": 3,
				"dynamicsImages": "/celestial/system/asteroids/dynamics/<num>.png",
				"dynamicsRange": [1, 10]
			},

			"variationParameters": [{
				"imageScale": 0.15,
				"worldSize": "debrisField",
				"smallImageScale": 0.5
			}]
		},

		"AncientGateway": {
			"satelliteProbability": 0.0,

			"baseParameters": {
				"worldType": "FloatingDungeon",
				"description": "Ancient Gateway",
				"dungeonWorld": "ancientgateway",
				"smallImage": "/celestial/system/gate.png",
				"image": "/celestial/system/gate/gate1.png",
				"imageScale": 1.0,
				"smallImageScale": 1.0,
				"worldSize": "ancientgateway",

				"dynamicsImages": "/celestial/system/gate/dynamics/<num>.png",
				"dynamicsRange": [0, 0],
				"shadowNumber": [1, 9]
			}
		},

		"GasGiant": {
			"satelliteProbability": 0.5,
			"maxSatelliteCount": 4,

			"baseParameters": {
				"worldType": "GasGiant",
				"description": "Gas Giant Planet",
				"smallImage": "/celestial/system/planet_small.png"
			},

			"variationParameters": [{
				"imageScale": 0.15,
				"smallImageScale": 0.9
			}, {
				"imageScale": 0.20,
				"smallImageScale": 1.0
			}]
		}
	},

	"satelliteTypes": {
		"Tier1": {
			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 1 Moon",

				"terrestrialType": ["garden", "slime"]
			},

			"variationParameters": [{
				"imageScale": 0.035,
				"worldSize": "tiny"
			}, {
				"imageScale": 0.055,
				"worldSize": "small"
			}]
		},

		"Tier2": {
			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 2 Moon",

				"terrestrialType": ["forest", "desert"]
			},

			"variationParameters": [{
				"imageScale": 0.075,
				"worldSize": "medium"
			}, {
				"imageScale": 0.055,
				"worldSize": "small"
			}, {
				"imageScale": 0.035,
				"worldSize": "tiny"
			}]
		},

		"Tier3": {
			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 3 Moon",

				"terrestrialType": ["savannah", "snow", "ocean", "bones"]
			},

			"variationParameters": [{
				"imageScale": 0.075,
				"worldSize": "medium"
			}, {
				"imageScale": 0.055,
				"worldSize": "small"
			}]
		},

		"Tier4": {
			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 4 Moon",

				"terrestrialType": ["toxic", "alien", "jungle", "bones"]
			},

			"variationParameters": [{
				"imageScale": 0.075,
				"worldSize": "medium"
			}, {
				"imageScale": 0.055,
				"worldSize": "small"
			}]
		},

		"Tier5": {
			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 5 Moon",

				"terrestrialType": ["arctic", "tundra"]
			},

			"variationParameters": [{
				"imageScale": 0.075,
				"worldSize": "medium"
			}, {
				"imageScale": 0.055,
				"worldSize": "small"
			}]
		},

		"Tier6": {
			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Tier 6 Moon",

				"terrestrialType": ["volcanic", "scorched", "magma", "midnight"]
			},

			"variationParameters": [{
				"imageScale": 0.075,
				"worldSize": "medium"
			}, {
				"imageScale": 0.055,
				"worldSize": "small"
			}]
		},

		"Moon": {
			"baseParameters": {
				"worldType": "Terrestrial",
				"description": "Bog Standard Moon",

				"terrestrialType": ["moon"]
			},

			"variationParameters": [{
				"imageScale": 0.055,
				"worldSize": "small"
			}]
		}
	}
}