{
  "defaultHumanoidIdentity" : {
    "gender" : "Male",
    "hairType" : "male2",
    "color" : [51, 117, 237, 255]
  },

  "species" : [ "human", "glitch", "hylotl", "apex", "avian", "floran", "novakid", "penguin"  ],

  "nametagColor" : [0, 255, 0],
  
  "attackGruntChance" : 0.50,

  "defaultItems" : [ ],

  "blueprintUnlock" : "^green;Learned to craft: <ItemName>.",
  "blueprintAlreadyKnown" : "I already know how to craft a <ItemName>.",

  // blueprints available from the start

  "defaultBlueprints" : {
    "tier1" : [
      { "item" : "matterbook" },
      { "item" : "matterbook2" },
      { "item" : "matterbook3" },
	
      { "item" : "quiverback" },
	  
      { "item" : "stonemace" },
      { "item" : "oxygentank" },
      { "item" : "armory" },
      { "item" : "paperplain" },
      { "item" : "parachutepack" },
      { "item" : "telescope" },
      { "item" : "coalore" },
      { "item" : "biomassgen" },
      { "item" : "gastank" },
      { "item" : "fullgascan" },
      { "item" : "gas" },
      { "item" : "gascan" },
      { "item" : "mininglantern" },
	  { "item" : "tailorstable" },
      { "item" : "newyarnspinner" },
      { "item" : "hoe" },
      { "item" : "woodencraftingtable" },
      { "item" : "chemistrytable" },
      { "item" : "ftldrive" },
      { "item" : "fence" },
      { "item" : "woodenbed" },
      { "item" : "woodenchair" },
      { "item" : "woodencrate1" },
      { "item" : "woodencrate2" },
      { "item" : "woodendoor" },
      { "item" : "woodengate" },
      { "item" : "woodsupport" },
      { "item" : "woodtable" },
      { "item" : "tier1chair" },
      { "item" : "tier1door" },
      { "item" : "tier1light" },
      { "item" : "tier1bed" },
      { "item" : "ironanvil" },
      { "item" : "cobblestonebrick" },
      { "item" : "copperpickaxe" },
      { "item" : "silverpickaxe" },
      { "item" : "goldpickaxe" },
      { "item" : "platinumpickaxe" },
      { "item" : "diamondpickaxe" },
      { "item" : "stonefurnace" },
      { "item" : "glassmaterial" },
      { "item" : "woodenwindow1" },
      { "item" : "woodenwindow2" },
      { "item" : "woodencookingtable" },
      { "item" : "fabric" },
      { "item" : "packeddirt" },
      { "item" : "metalworkstation" },
      { "item" : "roboticcraftingtable" },
      { "item" : "reddye" },
      { "item" : "bluedye" },
      { "item" : "yellowdye" },
      { "item" : "huntingknife" },
	  
	  //TAILOR
      { "item" : "snowinfantryhead" },
      { "item" : "snowinfantrychest" },
      { "item" : "snowinfantrypants" },
      { "item" : "deathpants" },
      { "item" : "deathhelmet" },
      { "item" : "deathchest" },
      { "item" : "beanieblue" },
      { "item" : "beaniepink" },
      { "item" : "leatherbandana" },
      { "item" : "navycap" },
      { "item" : "militarycap" },
      { "item" : "redbandana" },
      { "item" : "leatherjacket" },
      { "item" : "leatherpants" },
      { "item" : "militarychest" },
      { "item" : "militarychest" },
      { "item" : "shades" },
      { "item" : "navychest" },
      { "item" : "navypants" },
      { "item" : "shadowsgarb" },
      { "item" : "shadowshood" },
      { "item" : "shadowspants" },
	  

      // { "item" : "ironbow" },
      // { "item" : "steelbow" },
      // { "item" : "titaniumbow" },
      // { "item" : "compoundbow" },
      { "item" : "aegisaltbow" },
      // { "item" : "feroziumbow" },

	  // ARMORY
      { "item" : "rifle1" },
      { "item" : "rifle2" },
      { "item" : "rifle3" },
      { "item" : "shotgun1" },
      { "item" : "shotgun2" },
      { "item" : "shotgun3" },
      { "item" : "sniper1" },
      { "item" : "sniper2" },
      { "item" : "sniper3" },
      { "item" : "smg1" },
      { "item" : "smg2" },
      { "item" : "smg3" },
	  
      { "item" : "dynamite" },
      { "item" : "firecracker" },
      { "item" : "lightningnade" },
      { "item" : "throwstone" },
	  
	  
	  
	  // STARTING CHEMISTRY RECIPES
      { "item" : "shroomremedy" },
      { "item" : "synthesisstim" },
      { "item" : "grassremedy" },
      { "item" : "glowingmatter" },
      { "item" : "plastic" },
      { "item" : "hazmatdemohead" },
      { "item" : "hazmatdemochest" },
      { "item" : "hazmatdemolegs" },
      { "item" : "hazmatdemoback" },
      { "item" : "icearmorlegs" },
      { "item" : "icearmorchest" },
      { "item" : "icearmorlegs" },

	  
      // STARTING COOKING RECIPES
      { "item" : "bread"},
      { "item" : "coffee"},

      { "item" : "chain" },
      { "item" : "smoothmetal" },
      { "item" : "refinery" },
      { "item" : "steelplatform" },
      { "item" : "voxel1k" },
      { "item" : "voxel2k" },
      { "item" : "voxel5k" },
      { "item" : "voxel10k" },
	  
      { "item" : "aegisaltpistol" },
      { "item" : "aegisaltrifle" },
      { "item" : "aegisaltshotgun" },
      { "item" : "feroziumrifle" },
      { "item" : "feroziumpistol" },
      { "item" : "feroziumsniper" },
      { "item" : "feroziumrocket" },

      { "item" : "apexsteelstaff1" },
      { "item" : "apexsteelstaff2" },
      { "item" : "aviancrystalstaff1" },
      { "item" : "aviancrystalstaff2" },
      { "item" : "floranleafstaff1" },
      { "item" : "floranleafstaff2" },
      { "item" : "glitchglitchstaff1" },
      { "item" : "glitchglitchstaff2" },
      { "item" : "humanplasmastaff1" },
      { "item" : "humanplasmastaff2" },
      { "item" : "hylotlaquastaff1" },
      { "item" : "hylotlaquastaff2" },
      { "item" : "novakidlightstaff1" },
      { "item" : "novakidlightstaff2" },

      { "item" : "pixelcompressor" },
      { "item" : "alloyfurnace" },
      // { "item" : "portable3dprinter" },

      { "item" : "processor" },
      { "item" : "apexfuelhatch" },
	  
      { "item" : "wire" },
      { "item" : "laserdiode" },
      { "item" : "circuitboard" },
      { "item" : "alarm" },
      { "item" : "drain" },
      { "item" : "bigredbutton" },
      { "item" : "lightsensor" },
      { "item" : "liquidsensor" },
      { "item" : "proximitysensor" },
      { "item" : "scanner" },
      { "item" : "smallfloorbutton" },
      { "item" : "smallwallbutton" },
      { "item" : "smallwallswitch" },
      { "item" : "tinywallbutton" },
      { "item" : "tinywallswitch" },
      { "item" : "and" },
      { "item" : "bulb" },
      { "item" : "dlatch" },
      { "item" : "not" },
      { "item" : "or" },
      { "item" : "timer" },
      { "item" : "countdowntimer" },
      { "item" : "delay" },
      { "item" : "xor" },
      { "item" : "standingturret" },
      { "item" : "persistentswitch" },
      
      { "item" : "grapplinghook" },
      { "item" : "scififurnace" },
      { "item" : "scifianvil" },

      // ORES
      { "item" : "ironbar" },
      { "item" : "copperbar" },
      { "item" : "steelbar" },
      { "item" : "durasteelbar" },



      // TITANIUM ITEMS
      { "item" : "composite01material" },

      // TIERED FURNITURE
      { "item" : "tier1chair" },
      { "item" : "tier1door" },
      { "item" : "tier1light" },
      { "item" : "tier1switch" },
      { "item" : "tier1bed" },
      { "item" : "tier1table" },

      { "item" : "tier2chair" },
      { "item" : "tier2door" },
      { "item" : "tier2light" },
      { "item" : "tier2switch" },
      { "item" : "tier2bed" },
      { "item" : "tier2table" },

      { "item" : "tier3chair" },
      { "item" : "tier3door" },
      { "item" : "tier3light" },
      { "item" : "tier3switch" },
      { "item" : "tier3bed" },
      { "item" : "tier3table" },

      { "item" : "tier4chair" },
      { "item" : "tier4door" },
      { "item" : "tier4light" },
      { "item" : "tier4switch" },
      { "item" : "tier4bed" },
      { "item" : "tier4table" },

      { "item" : "tier5chair" },
      { "item" : "tier5door" },
      { "item" : "tier5light" },
      { "item" : "tier5switch" },
      { "item" : "tier5bed" },
      { "item" : "tier5table" },
     
      { "item" : "tier6chair" },
      { "item" : "tier6door" },
      { "item" : "tier6light" },
      { "item" : "tier6switch" },
      { "item" : "tier6bed" },
      { "item" : "tier6table" },
      
      { "item" : "tier7chair" },
      { "item" : "tier7door" },
      { "item" : "tier7light" },
      { "item" : "tier7switch" },
      { "item" : "tier7bed" },
      { "item" : "tier7table" },
      
      { "item" : "tier8chair" },
      { "item" : "tier8door" },
      { "item" : "tier8light" },
      { "item" : "tier8switch" },
      { "item" : "tier8bed" },
      { "item" : "tier8table" },
      
      { "item" : "tier9chair" },
      { "item" : "tier9door" },
      { "item" : "tier9light" },
      { "item" : "tier9switch" },
      { "item" : "tier9bed" },
      { "item" : "tier9table" },
      
      { "item" : "tier10chair" },
      { "item" : "tier10door" },
      { "item" : "tier10light" },
      { "item" : "tier10switch" },
      { "item" : "tier10bed" },
      { "item" : "tier10table" }

    ],
    
    "portable3dprinter" : [
      { "item" : "futurelight" },
      { "item" : "modernplatform" },
      { "item" : "modernchair" },
      { "item" : "moderntable" },
      { "item" : "slidingdoor" },
      { "item" : "techhull1" },
      { "item" : "metallicmaterial" },
      { "item" : "apexshipwall" },
      { "item" : "lightmetal" },
      { "item" : "mediummetal" },
      { "item" : "platematerial" },
      { "item" : "redtoyblock" },
      { "item" : "nanowrap" },
      { "item" : "nanostove" }
    ]
  },

  "metaBoundBox" : [-32.0, -32.0, 32.0, 32.0],

  "movementParameters" : {
    "airFriction" : 0.5,
    "airJumpProfile" : {
      "jumpSpeed" : 30.0,
      "jumpInitialPercentage" : 0.75,
      "jumpHoldTime" : 0.2
    }
  },

  "statusControllerSettings" : {
    "statusProperties" : {
      "targetMaterialKind" : "organic",
      "mouthPosition" : [0, 0.75],
      "breathHealthPenaltyPercentageRate" : 0.1,
      "hitInvulnerabilityThreshold" : 0.01,
      "hitInvulnerabilityTime" : 2.0,
      "hitInvulnerabilityFlash" : 0.1,
      "shieldHitInvulnerabilityTime" : 1.0,
      "damageFlashTime" : 0.07,
      "damageFlashDirectives" : "fade=ff0000=0.85"
    },

    "appliesEnvironmentStatusEffects" : true,
    "minimumLiquidStatusEffectPercentage" : 0.1,

    "primaryAnimationConfig" : "/player/stat_primary.animation",

    "primaryScriptSources" : [
      "/scripts/util.lua",
      "/scripts/vec2.lua",
      "/stats/player_primary.lua"
    ],

    "primaryScriptDelta" : 1,

    "stats" : {
      "maxHealth" : {
        "baseValue" : 75.0
      },
      "maxEnergy" : {
        "baseValue" : 100.0
      },
      "maxBreath" : {
        "baseValue" : 80.0
      },
      "breathDepletionRate" : {
        "baseValue" : 2.0
      },
      "breathRegenerationRate" : {
        "baseValue" : 10.0
      },
      "encumberance" : {
        "baseValue" : 0.0
      },
      "fallDamageMultiplier" : {
        "baseValue" : 1.0
      },
      "powerMultiplier" : {
        "baseValue" : 1.0
      },
      "protection" : {
        "baseValue" : 0.0
      },
      "healthRegen" : {
        "baseValue" : 0.0
      },
      "shieldRegen" : {
        "baseValue" : 0.0
      },
      "energyRegenPercentageRate" : {
        "baseValue" : 0.45      // 2.25 second recharge time
        // "baseValue" : 0.5    // 2 second recharge time
        // "baseValue" : 0.585  // 1.75 second recharge time (STABLE)
        //"baseValue" : 0.4     // 2.5 second recharge time
      },
      "nude" : {
        "baseValue" : 0.0
      },
      "shieldSuppressed" : {
        "baseValue" : 0.0
      },
      "invisible" : {
        "baseValue" : 0.0
      },
      "invulnerable" : {
        "baseValue" : 0.0
      },
      "shieldHealth" : {
        "baseValue" : 0
      },
      "shieldStaminaRegen" : {
        "baseValue" : 0.2
      },
      "perfectBlockLimitRegen" : {
        "baseValue" : 0.5
      },
      "grit" : {
        "baseValue" : 1.0
      }
    },

    "resources" : {
      "health" : {
        "maxStat" : "maxHealth",
        "deltaStat" : "healthRegen",
        "initialPercentage" : 1.0
      },
      "energy" : {
        "maxStat" : "maxEnergy",
        "initialPercentage" : 1.0
      },
      "energyRegenBlock" : {
        "maxValue" : 1.0,
        "deltaValue" : -1.0,
        "initialPercentage" : 0.0
      },
      "breath" : {
        "maxStat" : "maxBreath",
        "initialPercentage" : 1.0
      },
      "perfectBlock" : {
        "deltaValue" : -1.0,
        "initialValue" : 0.0
      },
      "perfectBlockLimit" : {
        "maxValue" : 1.0,
        "initialPercentage" : 1.0
      },
      "shieldStamina" : {
        "maxValue" : 1.0,
        "initialPercentage" : 1.0
      },
      "shieldStaminaRegenBlock" : {
        "maxValue" : 2.0,
        "deltaValue" : -1.0,
        "initialPercentage" : 0.0
      },
      "damageAbsorption" : {
        "initialValue" : 0
      }
    }
  },

  "footstepTiming" : 0.35,
  "footstepSensor" : [0, -3.1],

  "vaporTrailTime" : 10,
  "terminalVelocityDifference" : 1.01,
  "bottomOfWorldTouchMargin" : 4,

  "interactRadius" : 5.5,
  "walkIntoInteractBias" : [1, 0],

  "initialBeamGunRadius" : 15.5,
  "previewGlowBorder" : 2,
  "objectPreviewInnerAlpha" : 0.8,
  "objectPreviewOuterAlpha" : 0.2,
  
  "beamGunConfig" : {
    "image" : "/humanoid/any/gravgun1.png",
    "endImages" : [ "/humanoid/any/ball.png", "/humanoid/any/tileglow.png", "/humanoid/any/4tileglow.png", "/humanoid/any/ball.png" ],
    "handPosition" : [-2, 0],
    "firePosition" : [5, 0],
    "segmentsPerUnit" : 1,
    "nearControlPointElasticity" : 0.1,
    "farControlPointElasticity" : 0.9,
    "nearControlPointDistance" : 0.9,
    "targetSegmentRun" : 1,
    "innerBrightnessScale" : 20,
    "firstStripeThickness" : 0.2,
    "secondStripeThickness" : 0.05,
    "minBeamWidth" : 1,
    "maxBeamWidth" : 5,
    "maxBeamJitter" : 0.06,
    "minBeamJitter" : 0.0,
    "minBeamTrans" : 0.1,
    "maxBeamTrans" : 0.4,
    "minBeamLines" : 1,
    "maxBeamLines" : 5
  },

  "underwaterSensor" : [0.0, 0.5],
  "underwaterMinWaterLevel" : 0.4,

  "splashConfig" : {
    "splashSpeedMin" : 10.0,
    "splashMinWaterLevel" : 0.4,
    "splashBottomSensor" : [0, -2.0],
    "splashTopSensor" : [0, 2.0],
    "numSplashParticles" : 8,
    "splashYVelocityFactor" : 0.2,

    "splashParticle" : {
      "type" : "ember",
      "position" : [0, -1],
      "finalVelocity" : [0, -20],
      "approach" : [0, 50],
      "color" : [60, 150, 224, 100],
      "size" : 1.0,
      "timeToLive" : 0.5,
      "destructionAction" : "shrink",
      "destructionTime" : 0.2
    },

    "splashParticleVariance" : {
      "velocity" : [10, 0],
      "size" : 2.0
    }
  },

  "effectsAnimator" : "/player/playereffects.animation",

  "teleportInTime" : 1.0,
  "teleportOutTime" : 0.75,

  "maxOverlayPercent" : 0.8,
  "freezeOverlayColor" : [175, 175, 255],

  "emoteCooldown" : 2,
  "blinkInterval" : [5, 30],

  "bodyMaterialKind" : "organic",

  "reviveCost" : {
    "absolute" : 1,
    "percentile" : 30.0
  },

  "maxMoney" : 9999999,

  "shieldHitSoundLimit" : 2,

  "normalModeDeathDrops" : [
    "refinedaegisalt",
    "aegisaltore",
    "ceruliumcompound",
    "coalore",
    "copperbar",
    "copperore",
    "corefragmentore",
    "diamond",
    "durasteelbar",
    "feroziumcompound",
    "goldbar",
    "goldore",
    "imperviumcompound",
    "ironbar",
    "ironore",
    "platinumbar",
    "platinumore",
    "plutoniumrod",
    "plutoniumore",
    "refinedrubium",
    "rubiumore",
    "silverbar",
    "silverore",
    "solariumstar",
    "solariumore",
    "titaniumbar",
    "titaniumore",
    "uraniumrod",
    "uraniumore",
    "refinedviolium",
    "violiumore"
  ]
}
