{
  "defaultActive" : true,
  "debug" : false,

  // delta and variance
  "playerSpawnRate" : [0.5, 0.1],
  "scoreRate" : [1.0, 0.1],

  // Specifies the total "fake" runtime and the step delta for priming a region
  "primeRunTime" : [10, 1],

  // In milliseconds
  "spawnParametersCacheTtl" : 10000,
  "spawnParametersCacheTimeSmear" : 500,

  "playerSpawnRectSize" : [400, 250],
  // Anything intersecting the client visible window *plus this padding* will
  // be considered visible and ignored during spawning and despawning runs.
  "visibilityPadding" : 10,

  "spawnCellSize" : 8,
  "spawnCellMinimumEmptyTiles" : 20,
  "spawnCellMinimumLiquidTiles" : 20,
  "spawnCellNearSurfaceDistance" : 2,
  "spawnCellMinimumNearSurfaceTiles" : 12,
  "spawnCellNearCeilingDistance" : 2,
  "spawnCellMinimumNearCeilingTiles" : 10,
  "spawnCellMinimumAirTiles" : 40,
  "spawnCellMinimumExposedTiles" : 30,

  "minimumDayLevel" : 0.2,
  "minimumLiquidLevel" : 0.9,
  "spawnCheckResolution" : 1.0,
  "maximumSpawnChangeRate" : 12,
  "allowedOverpopulation" : 1,
  "spawnSurfaceCheckDistance" : 3.0,
  "spawnCeilingCheckDistance" : 0,

  // Despawn score accumulates while the monster is out of range or out of its
  // profile.  Once it reaches the auto despawn score, it will be despawned
  // regardless of density runs.
  "entityOutOfProfileRate" : 0.5,
  "entityOutOfRangeRate" : 0.5,
  "entityAutoDespawnScore" : 6,

  "spawnGroups" : {
    "default" : [],

    "generatedFlying" : [
      [0.5, "passiveSmallFlying"],
      [0.5, "aggroSmallFlying"]
    ],

    "generatedGround" : [
      [1.0, "aggroSmallBiped"],
      [1.0, "aggroLargeBiped"],
      [1.0, "aggroSmallQuadruped"],
      [1.0, "aggroLargeQuadruped"],
      [0.2, "passiveSmallBiped"],
      [0.2, "passiveLargeBiped"],
      [0.2, "passiveSmallQuadruped"],
      [0.2, "passiveLargeQuadruped"]
    ],
	
    "miniBoss" : [
      [1.0, "aggroSmallBipedBoss"],
      [1.0, "aggroLargeBipedBoss"],
      [1.0, "aggroSmallQuadrupedBoss"],
      [1.0, "aggroLargeQuadrupedBoss"]
    ]

  }
}
