{

  "planetDefaults" : {
    "blockNoise" : {
      "horizontalNoise" : {
        "type" : "Perlin",
        "octaves" : 7,
        "frequency" : 0.0017,
        "amplitude" : 200,
        "alpha" : 1.4,
        "beta" : 2.0
      },

      "verticalNoise" : {
        "type" : "Perlin",
        "octaves" : 7,
        "frequency" : 0.002,
        "amplitude" : 80,
        "alpha" : 1.6,
        "beta" : 2.0
      },

      "noise" : {
        "type" : "Perlin",
        "octaves" : 4,
        "frequency" : 0.1,
        "amplitude" : 8,
        "alpha" : 1.8,
        "beta" : 2.0
      }
    },
    "blendSize" : 70,


	
    "dayLengthRange" : [500, 500],
    "gravityRange" : [100, 100],

    "threatRange" : [1, 7],
  

    "layerDefaults" : {

      "enabled" : true,

      "layerLevel" : 0,

      "baseHeight" : 0,


      "secondaryRegion" : [ ],

      "secondaryRegionPeriod" : [1, 1],
      "secondaryRegionSize" : [400, 600],

      "dungeons" : [ ],
      "dungeonCountRange" : [0, 0],

      "dungeonXVariance" : 500
    },

    "layers" : {
      "space" : {
        "primaryRegion" : [ "asteroids" ]
      },
      "atmosphere" : {
        "primaryRegion" : [ "atmosphere" ]
      },
      "surface" : {
        "primaryRegion" : [ "barren" ]
      },
      "subsurface" : {
        "primaryRegion" : [ "shallowunderground" ]
      },
      "underground1" : {
        "primaryRegion" : [ "shallowunderground" ]
      },
      "underground2" : {
        "primaryRegion" : [ "midunderground" ]
      },
      "underground3" : {
        "primaryRegion" : [ "midunderground" ]
      },
      "underground4" : {
        "primaryRegion" : [ "deepunderground" ]
      },
      "underground5" : {
        "primaryRegion" : [ "deepunderground" ]
      },
      "underground6" : {
        "primaryRegion" : [ "deepunderground" ]
      },
      "underground7" : {
        "primaryRegion" : [ "deepunderground" ]
      },
      "underground8" : {
        "primaryRegion" : [ "deepunderground" ]
      },
      "core" : {
        "primaryRegion" : [ "core" ]
      }
    }
  },
 
  "planetSizes" : {
    "tiny" : {
      "size" : [2048, 1504],
 
      "gravityRange" : [100, 100],
 
      "layerDefaults" : {  
        "secondaryRegionPeriod" : [1000, 1000],
        "secondaryRegionSize" : [500, 500],
        "dungeonCountRange" : [1, 1]
      },
 
      "layers" : {
        "space" : {
          "baseHeight" : 1400,
          "layerLevel" : 1300
        },
        "atmosphere" : {
          "baseHeight" : 1200,
          "layerLevel" : 1100
        },
        "surface" : {
          "baseHeight" : 875,
          "layerLevel" : 800
        },
        "subsurface" : {
          "baseHeight" : 625,
          "layerLevel" : 600
        },
        "underground1" : {
          "baseHeight" : 550,
          "layerLevel" : 500
        },
        "underground2" : {
          "baseHeight" : 150,
          "layerLevel" : 100
        },
        "underground3" : {
          "enabled" : false
        },
        "underground4" : {
          "enabled" : false
        },
        "underground5" : {
          "enabled" : false
        },
        "underground6" : {
          "enabled" : false
        },
        "underground7" : {
          "enabled" : false
        },
        "underground8" : {
          "enabled" : false
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    },
    "small" : {
      "size" : [4000, 4000],
 
      "gravityRange" : [100, 100],
 
      "layerDefaults" : {  
        "secondaryRegionPeriod" : [2000, 2000],
        "secondaryRegionSize" : [1000, 1000],
        "dungeonCountRange" : [1, 1]
      },
 
      "layers" : {
        "space" : {
          "baseHeight" : 1850,
          "layerLevel" : 1700
        },
        "atmosphere" : {
          "baseHeight" : 1400,
          "layerLevel" : 1100
        },
        "surface" : {
          "baseHeight" : 875,
          "layerLevel" : 800
        },
        "subsurface" : {
          "baseHeight" : 625,
          "layerLevel" : 600
        },
        "underground1" : {
          "baseHeight" : 550,
          "layerLevel" : 500
        },
        "underground2" : {
          "baseHeight" : 450,
          "layerLevel" : 400
        },
        "underground3" : {
          "baseHeight" : 350,
          "layerLevel" : 300
        },
        "underground4" : {
          "baseHeight" : 250,
          "layerLevel" : 200
        },
        "underground5" : {
          "enabled" : false
        },
        "underground6" : {
          "enabled" : false
        },
        "underground7" : {
          "enabled" : false
        },
        "underground8" : {
          "enabled" : false
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    },
    "medium" : {
      "size" : [6016, 4000],
 
      "gravityRange" : [100, 100],
 
      "layerDefaults" : {
        "secondaryRegionPeriod" : [2500, 2500],
        "secondaryRegionSize" : [1000, 1500],
        "dungeonCountRange" : [1, 2]
      },
 
      "layers" : {
        "space" : {
          "baseHeight" : 3500,
          "layerLevel" : 3000
        },
        "atmosphere" : {
          "baseHeight" : 2700,
          "layerLevel" : 2400
        },
        "surface" : {
          "baseHeight" : 2075,
          "layerLevel" : 2000
        },
        "subsurface" : {
          "baseHeight" : 1825,
          "layerLevel" : 1800
        },
        "underground1" : {
          "baseHeight" : 1750,
          "layerLevel" : 1700
        },
        "underground2" : {
          "baseHeight" : 1350,
          "layerLevel" : 1300
        },
        "underground3" : {
          "baseHeight" : 1000,
          "layerLevel" : 950
        },
        "underground4" : {
          "baseHeight" : 450,
          "layerLevel" : 400
        },
        "underground5" : {
          "baseHeight" : 350,
          "layerLevel" : 300
        },
        "underground6" : {
          "baseHeight" : 250,
          "layerLevel" : 200
        },
        "underground7" : {
          "enabled" : false
        },
        "underground8" : {
          "enabled" : false
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    },
    "large" : {
      "size" : [8000, 5000],
 
      "gravityRange" : [100, 100],
 
      "layerDefaults" : {
        "secondaryRegionPeriod" : [4000, 4000],
        "secondaryRegionSize" : [1500, 2000],
        "dungeonCountRange" : [2, 3]
      },
 
      "layers" : {
        "space" : {
          "baseHeight" : 4500,
          "layerLevel" : 4000
        },
        "atmosphere" : {
          "baseHeight" : 3500,
          "layerLevel" : 3000
        },
        "surface" : {
          "baseHeight" : 2700,
          "layerLevel" : 2600
        },
        "subsurface" : {
          "baseHeight" : 2425,
          "layerLevel" : 2400
        },
        "underground1" : {
          "baseHeight" : 2325,
          "layerLevel" : 2250
        },
        "underground2" : {
          "baseHeight" : 2175,
          "layerLevel" : 2100
        },
        "underground3" : {
          "baseHeight" : 2025,
          "layerLevel" : 1900
        },
        "underground4" : {
          "baseHeight" : 1875,
          "layerLevel" : 1000
        },
        "underground5" : {
          "baseHeight" : 825,
          "layerLevel" : 650
        },
        "underground6" : {
          "baseHeight" : 575,
          "layerLevel" : 500
        },
        "underground7" : {
          "baseHeight" : 425,
          "layerLevel" : 350
        },
        "underground8" : {
          "baseHeight" : 275,
          "layerLevel" : 200
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    },
	
    "huge" : {
      "size" : [16000, 7008],
 
      "gravityRange" : [100, 100],
 
      "layerDefaults" : {
        "secondaryRegionPeriod" : [6000, 6000],
        "secondaryRegionSize" : [2500, 3000],
        "dungeonCountRange" : [4, 5]
      },
 
      "layers" : {
        "space" : {
          "baseHeight" : 6500,
          "layerLevel" : 6000
        },
        "atmosphere" : {
          "baseHeight" : 5500,
          "layerLevel" : 5000
        },
        "surface" : {
          "baseHeight" : 4700,
          "layerLevel" : 4600
        },
        "subsurface" : {
          "baseHeight" : 4425,
          "layerLevel" : 4400
        },
        "underground1" : {
          "baseHeight" : 4325,
          "layerLevel" : 4250
        },
        "underground2" : {
          "baseHeight" : 4175,
          "layerLevel" : 3100
        },
        "underground3" : {
          "baseHeight" : 3025,
          "layerLevel" : 2950
        },
        "underground4" : {
          "baseHeight" : 2875,
          "layerLevel" : 1800
        },
        "underground5" : {
          "baseHeight" : 1725,
          "layerLevel" : 1650
        },
        "underground6" : {
          "baseHeight" : 1575,
          "layerLevel" : 1000
        },
        "underground7" : {
          "baseHeight" : 900,
          "layerLevel" : 400
        },
        "underground8" : {
          "baseHeight" : 300,
          "layerLevel" : 150
        },
        "core" : {
          "baseHeight" : 50,
          "layerLevel" : 0
        }
      }
    }
  }, 
 
 
  "planetTypes" : {
    "garden" : {
      "threatRange" : [1, 1],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "garden" ],
          "secondaryRegion" : [ ],
          "dungeonCountRange" : [1, 1],
          "dungeons" : [ ]
        }
      }
    },

    "forest" : {
      "threatRange" : [2, 2],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "forest" ],
          "secondaryRegion" : [ "spring", "mushroom" ],
          "dungeons" : [ ]
        },
        "underground1" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground2" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground3" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground4" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground5" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground6" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        }
      }
    },
    "desert" : {
      "threatRange" : [2, 2],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "desert" ],
          "secondaryRegion" : [ "oasis", "tar" ],
          "dungeons" : [ ]
        },
        "subsurface" : {
          "primaryRegion" : [ "desertsubsurface" ]
        },
        "underground1" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground2" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground3" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground4" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground5" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        },
        "underground6" : {
          "secondaryRegion" : [ "tarunderground", "mushroomunderground", "wildernessunderground" ]
        }
      }
    },

    "ocean" : {
      "blendSize" : 30,
      "threatRange" : [3, 3],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "ocean" ]
        },
        "subsurface" : {
          "primaryRegion" : [ "oceanfloor" ]
        },
        "underground1" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground2" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground3" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground4" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground5" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground6" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        }
      }
    },
    "savannah" : {
      "threatRange" : [3, 3],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "savannah" ],
          "secondaryRegion" : [ "colourful", "bones" ],
          "dungeons" : [ ]
        },
        "underground1" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground2" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground3" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground4" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground5" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground6" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        }
      }
    },
    "snow" : {
      "threatRange" : [3, 3],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "snow" ],
          "secondaryRegion" : [ "bioluminescence", "alpine" ],        
          "dungeons" : [ ]
        },
        "underground1" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground2" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground3" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground4" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground5" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        },
        "underground6" : {
          "secondaryRegion" : [ "luminouscaves", "stonecaves", "bonecaves", "icecaves" ]
        }
      }
    },

    "jungle" : {
      "threatRange" : [4, 4],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "jungle" ],
          "secondaryRegion" : [ "giantflowers", "swamp" ],
          "dungeons" : [ ]
        },
        "underground1" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground2" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground3" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground4" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground5" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground6" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        }
      }
    },
    "toxic" : {
      "blendSize" : 30,
      "threatRange" : [4, 4],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "toxic" ]
        },
        "subsurface" : {
          "primaryRegion" : [ "toxicoceanfloor" ]
        },
        "underground1" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground2" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground3" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground4" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground5" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground6" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        }
      }
    },
    "alien" : {
      "threatRange" : [4, 4],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "alien" ],
          "secondaryRegion" : [ "eyepatch", "flesh" ],
          "dungeons" : [ ]
        },
        "underground1" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground2" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground3" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground4" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground5" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        },
        "underground6" : {
          "secondaryRegion" : [ "cellcaves", "fleshcaves", "slimecaves" ]
        }
      }
    },

    "arctic" : {
      "blendSize" : 30,
      "threatRange" : [5, 5],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "arctic" ]
        },
        "subsurface" : {
          "primaryRegion" : [ "arcticoceanfloor" ]
        }
      }
    },
    "tundra" : {
      "threatRange" : [5, 5],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "tundra" ],
          "secondaryRegion" : [ "steamspring", "prism" ],
          "dungeons" : [ ]
        }
      }
    },

    "magma" : {
      "blendSize" : 30,
      "threatRange" : [6, 6],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "magma" ]
        },
        "subsurface" : {
          "primaryRegion" : [ "magmaoceanfloor" ]
        }
      }
    },
    "volcanic" : {
      "threatRange" : [6, 6],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "volcanic" ],
          "secondaryRegion" : [ "rust", "crystalline", "desert", "scorched" ],
          "dungeons" : [ ]
        }
      }
    },
    "midnight" : {
      "threatRange" : [5, 5],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "midnight" ],
          "secondaryRegion" : [ "hive" ],
          "dungeons" : [ ]
        }
      }
    },
    "scorched" : {
      "threatRange" : [6, 6],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "scorched" ],
          "secondaryRegion" : [ "rust", "crystalline", "bones", "desert", "volcanic" ],
          "dungeons" : [ ]
        }
      }
    },

    "moon" : {
      "gravityRange" : [50, 55],
      "threatRange" : [1, 1],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "moon" ]
        },
        "subsurface" : {
          "primaryRegion" : [ "moonunderground" ]
        },
        "underground1" : {
          "primaryRegion" : [ "moonunderground" ]
        },
        "underground2" : {
          "primaryRegion" : [ "moonunderground" ]
        },
        "underground3" : {
          "primaryRegion" : [ "moonunderground" ]
        },
        "underground4" : {
          "primaryRegion" : [ "moonunderground" ]
        },
        "underground5" : {
          "primaryRegion" : [ "moonunderground" ]
        },
        "underground6" : {
          "primaryRegion" : [ "moonunderground" ]
        },
        "core" : {
          "primaryRegion" : [ "mooncore" ],
          "baseHeight" : 150
        }
      }
    },

    "barren" : {
      "threatRange" : [1, 1],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "barren" ]
        },
        "subsurface" : {
          "primaryRegion" : [ "barrenunderground" ]
        },
        "underground1" : {
          "primaryRegion" : [ "barrenunderground" ]
        },
        "underground2" : {
          "primaryRegion" : [ "barrenunderground" ]
        },
        "underground3" : {
          "primaryRegion" : [ "barrenunderground" ]
        },
        "underground4" : {
          "primaryRegion" : [ "barrenunderground" ]
        },
        "underground5" : {
          "primaryRegion" : [ "barrenunderground" ]
        },
        "underground6" : {
          "primaryRegion" : [ "barrenunderground" ]
        },
        "core" : {
          "primaryRegion" : [ "barrenunderground" ]
        }
      }
    },
	
    "slime" : {
      "threatRange" : [1, 1],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "slime" ]
        },
        "subsurface" : {
          "primaryRegion" : [ "slimecaves" ]
        },
        "underground1" : {
          "primaryRegion" : [ "slimecaves" ]
        },
        "underground2" : {
          "primaryRegion" : [ "slimecaves" ]
        },
        "underground3" : {
          "primaryRegion" : [ "slimecaves" ]
        },
        "underground4" : {
          "primaryRegion" : [ "slimecaves" ]
        },
        "underground5" : {
          "primaryRegion" : [ "slimecaves" ]
        },
        "underground6" : {
          "primaryRegion" : [ "slimecaves" ]
        }
      }
    },
    "bones" : {
      "threatRange" : [1, 1],
      "layers" : {
        "surface" : {
          "primaryRegion" : [ "bones" ]
        },
        "subsurface" : {
          "primaryRegion" : [ "bones" ]
        },
        "underground1" : {
          "primaryRegion" : [ "bonecaves" ]
        },
        "underground2" : {
          "primaryRegion" : [ "bonecaves" ]
        },
        "underground3" : {
          "primaryRegion" : [ "bonecaves" ]
        },
        "underground4" : {
          "primaryRegion" : [ "bonecaves" ]
        },
        "underground5" : {
          "primaryRegion" : [ "bonecaves" ]
        },
        "underground6" : {
          "primaryRegion" : [ "bonecaves" ]
        }
      }
    }
  },

  "regionDefaults" : {
    "blockSelector" : [ "solid" ],

    "fgCaveSelector" : [ "normalCaves" ],
    "bgCaveSelector" : [ "backgroundCaves" ],

    "fgOreSelector" : [ "commonVeins" ],
    "bgOreSelector" : [ "commonBackgroundVeins" ],

    "subBlockSelector" : [ "largeClumps" ],

    "oceanLiquid" : [ ], 
    "oceanLevelOffset" : 0, 
    "encloseLiquids" : false, 
    "fillMicrodungeons" : false, 

    "caveLiquid" : [ ], 
    "caveLiquidSeedDensityRange" : [1.0, 1.5]
  },

  "regionTypes" : {


  
  
    "asteroids" : {
      "blockSelector" : [ "asteroids" ],
      "fgCaveSelector" : [ "empty" ],
      "biome" : [
        [1, [ "asteroids" ]]
      ]
    },

    "atmosphere" : {
      "blockSelector" : [ "empty" ],
      "biome" : [
        [1, [ "atmosphere" ]]
      ]
    },





    "garden" : {
      "caveLiquid" : [ "water" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "garden" ]]
      ]
    },

    "forest" : {
      "caveLiquid" : [ "water", "tarliquid" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "forest" ]]
      ]
    },

    "desert" : {
      "blockSelector" : [ "remixedMildCanyonsSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "desert" ]]
      ]
    },

    "savannah" : {
      "caveLiquid" : [ "water" ],
      "blockSelector" : [ "remixedStepsSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "savannah" ]]
      ]
    },

    "snow" : {
      "blockSelector" : [ "remixedMildSurface", "remixedMildCanyonsSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "snow" ]]
      ]
    },

    "ocean" : {
      "oceanLiquid" : [ "water" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "ocean" ]]
      ]
    },

    "oceanfloor" : {
      "oceanLiquid" : [ "water" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "oceanfloor" ]]
      ]
    },

    "jungle" : {
      "caveLiquid" : [ "water", "poison", "tarliquid" ],
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "jungle" ]]
      ]
    },

    "alien" : {
      "caveLiquid" : [ "water", "poison" ],
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "alien" ]]
      ]
    },

    "toxic" : {
      "oceanLiquid" : [ "poison" ],
      "blockSelector" : [ "remixedFlatIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "poison" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "toxic" ]]
      ]
    },

    "toxicoceanfloor" : {
      "oceanLiquid" : [ "poison" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "toxicoceanfloor" ]]
      ]
    },

    "tundra" : {
      "blockSelector" : [ "remixedSurface", "remixedCanyonsSurface", "remixedMountainsSurface", "remixedSpikesSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "tundra" ]]
      ]
    },

    "arctic" : {
      "oceanLiquid" : [ "water" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "arctic" ]]
      ]
    },

    "arcticoceanfloor" : {
      "oceanLiquid" : [ "water" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "arcticoceanfloor" ]]
      ]
    },

    "volcanic" : {
      "caveLiquid" : [ "lava" ],
      "caveLiquidSeedDensityRange" : [1, 3],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedSurface", "remixedCanyonsSurface", "remixedMountainsSurface", "remixedSpikesSurface2" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "volcanic" ]]
      ]
    },

    "midnight" : {
      "caveLiquid" : [ "water" ],
      "caveLiquidSeedDensityRange" : [1, 3],
      "encloseLiquids" : true,
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "midnight" ]]
      ]
    },

    "scorched" : {
      "caveLiquid" : [ "tarliquid" ],
      "blockSelector" : [ "remixedSurface", "remixedCanyonsSurface", "remixedMountainsSurface", "remixedStepsSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "scorched" ]]
      ]
    },

    "magma" : {
      "oceanLiquid" : [ "lava" ],
      "blockSelector" : [ "remixedIslandsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "magma" ]]
      ]
    },

    "magmaoceanfloor" : {
      "oceanLiquid" : [ "lava" ],
      "oceanLevelOffset" : 1000,
      "blockSelector" : [ "ledgesSurface" ],
      "fgCaveSelector" : [ "emptier" ],
      "bgCaveSelector" : [ "emptiest" ],
      "biome" : [
        [0, [ "magmaoceanfloor" ]]
      ]
    },

    "moon" : {
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "moonSurfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "moon" ]]
      ]
    },

    "barren" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "barren" ]]
      ]
    },


	
	
    "spring" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "spring" ]]
      ]
    },

    "mushroom" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "mushroompatch" ]]
      ]
    },

    "oasis" : {
      "blockSelector" : [ "remixedPoolsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "healingliquid" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "oasis" ]]
      ]
    },

    "tar" : {
      "blockSelector" : [ "remixedPoolsSurface" ],
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ "tarliquid" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "tar" ]]
      ]
    },

    "swamp" : {
      "caveLiquid" : [ "swampwater" ],
      "caveLiquidSeedDensityRange" : [20, 20],
      "encloseLiquids" : true,
      "fillMicrodungeons" : true,
      "blockSelector" : [ "remixedSwampySurface" ],
      "fgCaveSelector" : [ "empty" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "swamp" ]]
      ]
    },

    "alpine" : {
      "blockSelector" : [ "remixedMountainsSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "alpine" ]]
      ]
    },

    "bioluminescence" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "bioluminescence" ]]
      ]
    },

    "colourful" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "colourful" ]]
      ]
    },

    "prism" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "prism" ]]
      ]
    },

    "steamspring" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "steamspring" ]]
      ]
    },

    "hive" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "biome" : [
        [0, [ "hive" ]]
      ]
    },

    "bones" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "bones" ]]
      ]
    },

    "giantflowers" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "giantflowers" ]]
      ]
    },

    "eyepatch" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "eyepatch" ]]
      ]
    },

    "flesh" : {
      "blockSelector" : [ "remixedMildSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "flesh" ]]
      ]
    },

    "ice" : {
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "ice" ]]
      ]
    },

    "rust" : {
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "rust" ]]
      ]
    },

    "crystalline" : {
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "crystalline" ]]
      ]
    },

	

	
	
    "slime" : {
      "caveLiquid" : [ "slimeliquid" ],
      "blockSelector" : [ "remixedSurface" ],
      "fgCaveSelector" : [ "surfaceCaves" ],
      "bgCaveSelector" : [ "empty" ],
      "biome" : [
        [0, [ "slime" ]]
      ]
    },


	
	
    "shallowunderground" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [1, [ "underground0a", "underground0b" ] ],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground1a", "underground1b", "underground1c", "underground1d", "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground3a", "underground3b", "underground3c", "underground3d", "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ]
    },

    "midunderground" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [1, [ "underground0a", "underground0b", "underground0c", "underground0d" ]],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground1a", "underground1b", "underground1c", "underground1d", "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground3a", "underground3b", "underground3c", "underground3d", "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ]
    },

    "deepunderground" : {
      "caveLiquid" : [ "water" ],
      "caveLiquidSeedDensityRange" : [0.5, 1.0],
      "biome" : [
        [1, [ "underground0a", "underground0b", "underground0c", "underground0d" ]],
        [2, [ "underground1a", "underground1b", "underground1c", "underground1d" ]],
        [3, [ "underground3a", "underground3b", "underground3c", "underground3d" ]],
        [5, [ "underground5a", "underground5b", "underground5c", "underground5d" ]]
      ]
    },

    "desertsubsurface" : {
      "caveLiquid" : [ "tarliquid" ],
      "caveLiquidSeedDensityRange" : [2.0, 2.0],
      "biome" : [
        [1, [ "underground1d" ]]
      ]
    },

    "moonunderground" : {
      "fgCaveSelector" : [ "moonCaves" ],
      "caveLiquid" : [ "fuel" ],
      "caveLiquidSeedDensityRange" : [1.5, 1.5],
      "biome" : [
        [0, [ "moonunderground"]]
      ]
    },

    "barrenunderground" : {
      "fgCaveSelector" : [ "empty" ],
      "caveLiquid" : [ ],
      "biome" : [
        [0, [ "barrenunderground"]]
      ]
    },


	
    "mushroomunderground" : {
      "biome" : [
        [0, [ "mushrooms"]]
      ]
    },

    "wildernessunderground" : {
      "biome" : [
        [0, [ "wilderness"]]
      ]
    },

    "tarunderground" : {
      "caveLiquid" : [ "tarliquid" ],
      "biome" : [
        [0, [ "tarpit"]]
      ]
    },

    "minivillageunderground" : {
      "biome" : [
        [0, [ "minivillage"]]
      ]
    },

    "icecaves" : {
      "biome" : [
        [0, [ "icecaves"]]
      ]
    }, 

    "bonecaves" : {
      "biome" : [
        [0, [ "bonecaves"]]
      ]
    },

    "stonecaves" : {
      "caveLiquid" : [ "water" ],
      "biome" : [
        [0, [ "stonecaves"]]
      ]
    },

    "luminouscaves" : {
      "caveLiquid" : [ "poison" ],
      "biome" : [
        [0, [ "luminouscaves"]]
      ]
    },

    "fleshcaves" : {
      "biome" : [
        [0, [ "fleshcaves" ]]
      ]
    },

    "cellcaves" : {
      "caveLiquid" : [ "poison" ],
      "caveLiquidSeedDensityRange" : [3.0, 3.0],
      "biome" : [
        [0, [ "cellcaves" ]]
      ]
    },

    "slimecaves" : {
      "caveLiquid" : [ "slimeliquid" ],
      "caveLiquidSeedDensityRange" : [3.0, 3.0],
      "biome" : [
        [0, [ "slimecaves" ]]
      ]
    },


    "core" : {
      "caveLiquid" : [ "lava" ],
      "caveLiquidSeedDensityRange" : [4.0, 4.0],
      "oceanLiquid" : [ "corelava" ],
      "oceanLevelOffset" : -20,
      "fgCaveSelector" : [ "coreCaves" ],
      "bgCaveSelector" : [ "coreBackgroundCaves" ],
      "biome" : [
        [1, [ "gardencorelayer"] ],
        [2, ["blaststonecorelayer", "magmarockcorelayer", "obsidiancorelayer" ]]
      ]
    },

    "mooncore" : {
      "fgCaveSelector" : [ "empty" ],
      "subBlockSelector" : [ "lowHillsSurface" ],
      "biome" : [
        [0, [ "mooncorelayer"]]
      ]
    }
  }
}
