  //**OPTIONS**
// ash
// ember

// fog
// groundmist

// rain
// storm
// drizzle

// snow
// icestorm
// snowstorm
// hailstones

// clear

// duststorm
// sandstorm
// windstorm

// acidrain

// spacedust
// spacejunk

// crystalrain
// glowingrain

// meteorshower
// largemeteor
// invasionmeteorshower

//fogweather
//fogweatherstone

{
  "weatherCooldownTime" : 10,
  "weatherWarmupTime" : 10,

  "barren" : [
  [1.0, "groundmist"],
  [0.05, "meteorshower"],
  [0.05, "largemeteor"]
  ],
  
  "slime" : [
	[0.5, "fog"],
	[0.05, "acidrain"],
	[0.07, "groundmist"]
  ],
  
  "clear" : [
    [1.0, "clear"]
  ],

  "moon" : [
    [0.5, "meteorshower"],
    [0.3, "largemeteor"],
    [0.4, "spacejunk"]
  ],

  // T1

  "garden" : [
    [0.05, "fogweatherstone"],
    [0.11, "storm"],
    [0.15, "fogweather"],
    [0.27, "drizzle"],
    [0.25, "clear"]
  ],

  // T2

  "desert" : [
    [0.98, "clear"],
    [0.6, "sandstorm"],
    [0.5, "windstorm"],
    [0.5, "duststorm"],
    [0.01, "largemeteor"],
    [0.01, "spacejunk"]
  ],

  "forest" : [
    [0.25, "clear"],
    [0.25, "fogweather"],
    [0.29, "duststorm"],
    [0.27, "drizzle"],
    [0.05, "storm"],
    [0.29, "windstorm" ],
    [0.05, "groundmist" ]
  ],

  // T3

  "savannah" : [
    [0.25, "clear"],
    [0.10, "rain"],
    [0.25, "storm"],
    [0.3, "windstorm"]
  ],

  "snow" : [
    [0.2, "clear"],
    [0.4, "snow"],
    [0.15, "snowstorm"],
    [0.15, "icestorm"],
    [0.2, "hailstones"],
    [0.01, "meteorshower"]
  ],

  "ocean" : [
    [0.8, "clear"],
    [0.5, "rain"],
    [0.6, "storm"],
    [0.5, "drizzle"]
  ],

  // T4

  "jungle" : [
    [0.2, "clear"],
    [0.3, "rain"],
    [0.34, "storm"],
    [0.3, "fog"],
    [0.25, "groundmist"]
  ],

  "toxic" : [
    [0.2, "clear"],
    [0.6, "acidrain"],
    [0.1, "crystalrain"]
  ],

  "alien" : [
    [0.2, "clear"],
    [0.35, "acidrain"]
  ],

  // T5

  "arctic" : [
    [0.2, "clear"],
    [0.5, "snow"],
    [0.3, "snowstorm"]
  ],

  "tundra" : [
    [0.2, "clear"],
    [0.5, "snow"],
    [0.4, "snowstorm"],
    [0.4, "icestorm"],
    [0.4, "hailstones"]
  ],

  "midnight" : [
    [0.8, "duststorm"],
    [1.0, "fog"]
  ],

  "asteroids" : [
    [0.2, "clear"],
    [0.2, "spacedust"],
    [0.22, "spacejunk"],
    [0.4, "meteorshower"]
  ],

  "asteroidsMeteor" : [
    [0.2, "clear"],
    [0.2, "spacedust"],
    [0.24, "spacejunk"],
    [0.1, "meteorshower"],
    [0.09, "largemeteor"]
  ],

  // T6

  "magma" : [
    [0.2, "clear"],
    [0.8, "ash"],
    [0.5, "ember"]
  ],

  "magmaMeteor" : [
    [0.2, "clear"],
    [0.05, "meteorshower"],
    [0.05, "largemeteor"],
    [0.8, "ash"],
    [0.5, "ember"]
  ],

  "volcanic" : [
    [0.2, "clear"],
    [0.8, "ash"],
    [0.5, "ember"]
  ],

  "volcanicMeteor" : [
    [0.2, "clear"],
    [0.05, "meteorshower"],
    [0.05, "largemeteor"],
    [0.8, "ash"],
    [0.5, "ember"]
  ],

  "scorched" : [
    [0.2, "clear"],
    [0.5, "sandstorm"],
    [0.5, "duststorm"],
    [0.4, "ash"]
  ],

  "scorchedMeteor" : [
    [0.2, "clear"],
    [0.4, "sandstorm"],
    [0.15, "meteorshower"],
    [0.05, "largemeteor"],
    [0.4, "ash"]
  ],

  // T7

  "tentacles" : [
    [1.0, "clear"]
  ]
}
