{
  "refreshInterval" : 2.0,
  "initialquests" : {
    "glitch" : [ "humantutorial.gearup" ],
    "human" : [ "humantutorial.gearup" ],
    "avian" : [ "humantutorial.gearup" ],
    "apex" : [ "humantutorial.gearup" ],
    "floran" : [ "humantutorial.gearup" ],
    "hylotl" : [ "humantutorial.gearup" ],
    "novakid" : [ "humantutorial.gearup" ],
    "penguin" : [ "humantutorial.gearup" ]
  },
  "indicators" : {
    "questgiver" : {
      "image" : "/interface/quests/questgiver.png"
    },
    "questreceiver" : {
      "image" : "/interface/quests/questreceiver.png"
    },
    "mainquestgiver" : {
      "image" : "/interface/quests/mainquestgiver.png"
    },
    "mainquestreceiver" : {
      "image" : "/interface/quests/mainquestreceiver.png"
    },
    "questrelevant" : {
      "image" : "/interface/quests/questrelevant.png"
    }
  },
  "defaultCustomIndicator" : "questrelevant",

  "goalTextSeparator" : "^reset;\n\n"
}
