{
  "onShowSound" : [
    "/sfx/interface/newquest.ogg"
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
	  "anchor" : "bottomRight"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/newquest/header.png",
      "fileBody" : "/interface/quests/newquest/bodyshort.png",
      "fileFooter" : "/interface/quests/newquest/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 194],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "nqImage" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/NewQuest.png",
      "position" : [30, 152],
      "zlevel" : -10
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/detailsshort.png",
      "position" : [3, 37],
      "zlevel" : -10
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [0, 0],
      "position" : [0, 0],
      "scale" : 0
    },
    "portraitTitle" : {
      "type" : "label",
      "position" : [0, 0],
      "hAnchor" : "mid",
      "charLimit" : 12,
      "fontSize" : 0,
      "value" : "",
      "color" : "white"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [10, 12],
      "caption" : "CONTINUE"
    },
    "btnDecline" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/declineUp.png",
      "hover" : "/interface/quests/newquest/declineOver.png",
      "position" : [144, 32],
      "caption" : ""
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [55, 47],
      "dimensions" : [0, 0],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/shine.png"
    },
    "labelRewards" : {
      "type" : "label",
      "position" : [12, 51],
      "fontSize" : 8,
      "value" : "",
      "color" : [155, 227, 214]
    },
    "imgMoney" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/money.png",
      "position" : [60, 700]
    },
    "labelMoneyAmount" : {
      "type" : "label",
      "position" : [75, 680],
      "fontSize" : 8,
      "value" : "9999999",
      "color" : "white"
    },
    "labelQuestTitle" : {
      "type" : "label",
      "position" : [80, 118],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 120,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : [155, 227, 214]
    },
    "labelQuestBody" : {
      "type" : "label",
      "position" : [15, 110],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 130,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
