{
  "onShowSound" : [
    "/sfx/interface/newquest.ogg"
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
	  "anchor" : "bottomLeft"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/newquest/header.png",
      "fileBody" : "/interface/quests/newquest/body.png",
      "fileFooter" : "/interface/quests/newquest/footer.png"
    },
    "windowtitle" : {
      "type" : "title",
      "title" : "",
      "subtitle" : "",
      "position" : [0, 254],
      "icon" : {
        "type" : "image",
        "file" : "/interface/quests/quest.png",
        "position" : [0, 0],
        "zlevel" : -1
      }
    },
    "nqImage" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/NewQuest.png",
      "position" : [30, 212],
      "zlevel" : -10
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/shine.png",
      "position" : [0, 10],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/details.png",
      "position" : [3, 37],
      "zlevel" : -20
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [48, 30],
      "position" : [9, 153],
      "scale" : 1.5
    },
    "portraitTitle" : {
      "type" : "label",
      "position" : [32, 143],
      "hAnchor" : "mid",
      "charLimit" : 12,
      "fontSize" : 8,
      "value" : "",
      "color" : "white"
    },
    "imgPolaroid" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/polaroid.png",
      "position" : [216, 47],
      "zlevel" : -1
    },
    "imgPolaroidBack" : {
      "type" : "image",
      "file" : "/interface/quests/newquest/polaroidBackground.png",
      "position" : [216, 47],
      "zlevel" : -2
    },
    "objectivePortraitImage" : {
      "type" : "image",
      "position" : [235, 72],
      "maxSize" : [31, 31],
      "minSize" : [31, 31],
      "centered" : true
    },
    "objectivePortraitTitle" : {
      "type" : "label",
      "position" : [235, 49],
      "hAnchor" : "mid",
      "fontSize" : 4,
      "charLimit" : 12,
      "value" : "",
      "color" : "black"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/acceptUp.png",
      "hover" : "/interface/quests/newquest/acceptOver.png",
      "position" : [64, 32],
      "caption" : "ACCEPT"
    },
    "btnDecline" : {
      "type" : "button",
      "base" : "/interface/quests/newquest/declineUp.png",
      "hover" : "/interface/quests/newquest/declineOver.png",
      "position" : [144, 32],
      "caption" : "DECLINE"
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [55, 47],
      "dimensions" : [2, 1],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "labelRewards" : {
      "type" : "label",
      "position" : [12, 51],
      "fontSize" : 8,
      "value" : "REWARDS:",
      "color" : [155, 227, 214]
    },
    "labelQuestTitle" : {
      "type" : "label",
      "position" : [140, 200],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 180,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : [155, 227, 214]
    },
    "labelQuestBody" : {
      "type" : "label",
      "position" : [67, 188],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 187,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
