{
  "trashBurnTimeout" : 1.0,
  "subtitle" : "^#b9b5b2;Inventory Screen ^green;[I]",
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
	  "anchor" : "bottomLeft"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/inventory/inventoryheader.png",
      "fileBody" : "/interface/inventory/inventorybody.png",
      "fileFooter" : "/interface/inventory/inventoryfooter.png"
    },
    "close" : {
      "type" : "button",
      "base" : "/interface/inventory/x.png",
      "hover" : "/interface/inventory/xhover.png",
      "press" : "/interface/inventory/xpress.png",
      "position" : [185, 253]
    },
    "sort" : {
      "type" : "button",
      "base" : "/interface/inventory/sort.png",
      "hover" : "/interface/inventory/sorthover.png",
      "press" : "/interface/inventory/sortpress.png",
      "position" : [182, 9]
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/inventory/shine.png",
      "position" : [-50, -2],
      "zlevel" : -10
    },
    "newGeneralItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [30, 110]
    },
    "newTileItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [57, 110]
    },
    "newObjectItems" : {
      "type" : "image",
      "file" : "/interface/inventory/dot.png",
      "position" : [84, 110]
    },
    "gridModeSelector" : {
      "type" : "radioGroup",
      "position" : [5, 109],

      "buttons" : [
        {
          "id" : 0,
          "baseImage" : "/interface/inventory/bigbag.png:base",
          "baseImageChecked" : "/interface/inventory/bigbag.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigbag.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigbag.png:pressedChecked",
          "position" : [4, 0],
          "data" : "showMainGrid",
          "selected" : true,
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigcart.png:base",
          "baseImageChecked" : "/interface/inventory/bigcart.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigcart.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigcart.png:pressedChecked",
          "position" : [31, 0],
          "data" : "showTileGrid",
          "pressedOffset" : [0,0]
        },
        {
          "baseImage" : "/interface/inventory/bigobj.png:base",
          "baseImageChecked" : "/interface/inventory/bigobj.png:baseChecked",
          "pressedImage" : "/interface/inventory/bigobj.png:pressed",
          "pressedImageChecked" : "/interface/inventory/bigobj.png:pressedChecked",
          "position" : [58, 0],
          "data" : "showObjectGrid",
          "pressedOffset" : [0,0]
        }
      ]
    },
    "portrait" : {
      "type" : "portrait",
      "position" : [57, 205],
      "scale" : 1.3
    },
    "mainItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 27],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "tileItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 27],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "objectItemGrid" : {
      "type" : "itemgrid",
      "position" : [6, 27],
      "dimensions" : [10, 4],
      "spacing" : [19, 19],
      "backingImage" : "/interface/inventory/empty.png"
    },
    "head" : {
      "type" : "itemslot",
      "position" : [90, 212],
      "backingImage" : "/interface/inventory/backingimagehead.png"
    },
    "chest" : {
      "type" : "itemslot",
      "position" : [90, 192],
      "backingImage" : "/interface/inventory/backingimagechest.png"
    },
    "legs" : {
      "type" : "itemslot",
      "position" : [90, 172],
      "backingImage" : "/interface/inventory/backingimagelegs.png"
    },
    "back" : {
      "type" : "itemslot",
      "position" : [5, 202],
      "backingImage" : "/interface/inventory/backingimageback.png"
    },
    "headSoc" : {
      "type" : "itemslot",
      "position" : [110, 212],
      "backingImage" : "/interface/inventory/backingimagesocial.png"
    },
    "chestSoc" : {
      "type" : "itemslot",
      "position" : [110, 192],
      "backingImage" : "/interface/inventory/backingimagesocial.png"
    },
    "legsSoc" : {
      "type" : "itemslot",
      "position" : [110, 172],
      "backingImage" : "/interface/inventory/backingimagesocial.png"
    },
    "backSoc" : {
      "type" : "itemslot",
      "position" : [5, 182],
      "backingImage" : "/interface/inventory/backingimagesocial.png"
    },
    "techHead" : {
      "type" : "itemslot",
      "position" : [12, 136],
      "backingImage" : "/interface/inventory/techempty.png"
    },
    "labeltechHead" : {
      "type" : "label",
      "position" : [12, 151],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "1",
      "color" : [230, 230, 230]
    },
    "techBody" : {
      "type" : "itemslot",
      "position" : [42, 136],
      "backingImage" : "/interface/inventory/techempty.png"
    },
    "labeltechBody" : {
      "type" : "label",
      "position" : [42, 151],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "2",
      "color" : [230, 230, 230]
    },
    "techLegs" : {
      "type" : "itemslot",
      "position" : [72, 136],
      "backingImage" : "/interface/inventory/techempty.png"
    },
    "labeltechLegs" : {
      "type" : "label",
      "position" : [72, 151],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "3",
      "color" : [230, 230, 230]
    },
    "techSuit" : {
      "type" : "itemslot",
      "position" : [102, 136],
      "backingImage" : "/interface/inventory/techempty.png"
    },
    "labeltechSuit" : {
      "type" : "label",
      "position" : [102, 151],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "4",
      "color" : [230, 230, 230]
    },
    "petslot1" : {
      "type" : "image",
      "file" : "/interface/inventory/techempty.png",
      "position" : [141, 135]
    },
    "labelpet1" : {
      "type" : "label",
      "position" : [141, 151],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "1",
      "color" : [230, 230, 230]
    },
    "petslot2" : {
      "type" : "image",
      "file" : "/interface/inventory/techempty.png",
      "position" : [171, 135]
    },
    "labelpet2" : {
      "type" : "label",
      "position" : [171, 151],
      "hAnchor" : "mid",
      "fontSize" : 7,
      "value" : "2",
      "color" : [230, 230, 230]
    },
    "healthtext" : {
      "type" : "label",
      "position" : [158, 223],
      "hAnchor" : "left",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "energytext" : {
      "type" : "label",
      "position" : [158, 206],
      "hAnchor" : "left",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "defensetext" : {
      "type" : "label",
      "position" : [158, 172],
      "hAnchor" : "left",
      "value" : "--",
      "color" : [255, 255, 255]
    },
    "weapontext" : {
      "type" : "label",
      "position" : [158, 189],
      "hAnchor" : "left",
      "value" : "set at runtime",
      "color" : [255, 255, 255]
    },
    "trash" : {
      "type" : "itemslot",
      "position" : [172, 108],
      "backingImage" : "/interface/inventory/backingimagetrash.png"
    },
    "SendToTrashBtn" : {
      "type" : "label",
      "value" : "",
      "fontSize" : 7,
      "hAnchor" : "mid",
      "position" : [130, 113],
      "color" : [126, 117, 102]
    },
    "trashButton" : {
      "type" : "image",
      "file" : "/interface/inventory/sendtotrash.png",
      "position" : [99, 106]
    },
    "labelback" : {
      "type" : "label",
      "position" : [16, 235],
      "hAnchor" : "mid",
      "value" : "BACK",
      "color" : [126, 117, 102]
    },
    "labelappearance" : {
      "type" : "label",
      "position" : [59, 235],
      "hAnchor" : "mid",
      "value" : "APPEARANCE",
      "color" : [126, 117, 102]
    },
    "labelarmor" : {
      "type" : "label",
      "position" : [110, 235],
      "hAnchor" : "mid",
      "value" : "ARMOR",
      "color" : [126, 117, 102]
    },
    "labelstats" : {
      "type" : "label",
      "position" : [166, 235],
      "hAnchor" : "mid",
      "value" : "STATS",
      "color" : [126, 117, 102]
    },
    "labelpets" : {
      "type" : "label",
      "position" : [166, 160],
      "hAnchor" : "mid",
      "value" : "PET SLOTS",
      "color" : [126, 117, 102]
    },
    "labeltech" : {
      "type" : "label",
      "position" : [66, 160],
      "hAnchor" : "mid",
      "value" : "TECH SLOTS",
      "color" : [126, 117, 102]
    }
  }
}
