{
  "onShowSound" : [
    "/sfx/interface/newquest.ogg"
  ],
  "paneLayout" : {
    "panefeature" : {
      "type" : "panefeature",
	  "anchor" : "bottomRight"
    },
    "background" : {
      "type" : "background",
      "fileHeader" : "/interface/quests/questcomplete2/header.png",
      "fileBody" : "/interface/quests/questcomplete2/body.png",
      "fileFooter" : "/interface/quests/questcomplete2/footer.png"
    },
    "bgShine" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/shine.png",
      "position" : [0, 0],
      "zlevel" : -10
    },
    "bgOverlay" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/details.png",
      "position" : [3, 37],
      "zlevel" : -10
    },
    "portraitImage" : {
      "type" : "image",
      "offset" : [0, 0],
      "position" : [0, 0],
      "scale" : 0
    },    
    "portraitTitle" : {
      "type" : "label",
      "position" : [0, 0],
      "hAnchor" : "mid",
      "charLimit" : 12,
      "fontSize" : 0,
      "value" : "",
      "color" : "white"
    },
    "btnAccept" : {
      "type" : "button",
      "base" : "/interface/quests/questcomplete2/okayUp.png",
      "hover" : "/interface/quests/questcomplete2/okayOver.png",
      "position" : [10, 12],
      "caption" : "OKAY"
    },
    "imgComplete" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/questcomplete.png",
      "position" : [37, 151]
    },
    "imgRewards" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/rewards.png",
      "position" : [80, 59]
    },
    "imgBanner" : {
      "type" : "image",
      "file" : "/interface/quests/questcomplete2/rewardbanner.png",
      "position" : [-37, 19]
    },
    "rewardItems" : {
      "type" : "itemgrid",
      "position" : [55, 47],
      "dimensions" : [0, 0],
      "spacing" : [22, 19],
      "callback" : "null",
      "backingImage" : "/interface/inventory/empty.png"
    },
    "labelMoney" : {
      "type" : "label",
      "position" : [126, 46],
      "fontSize" : 8,
      "value" : "",
      "color" : "orange"
    },
    "imgMoney" : {
      "type" : "image",
      "file" : "/interface/quests/questlog/money.png",
      "position" : [60, 700]
    },
    "labelMoneyAmount" : {
      "type" : "label",
      "position" : [75, 680],
      "fontSize" : 8,
      "value" : "9999999",
      "color" : "white"
    },
    "labelQuestTitle" : {
      "type" : "label",
      "position" : [80, 118],
      "hAnchor" : "mid",
      "vAnchor" : "mid",
      "wrapWidth" : 120,
      "lineSpacing" : 1.0,
      "value" : "Secret of the Avian Troll Master",
      "color" : "orange"
    },
    "labelQuestBody" : {
      "type" : "label",
      "position" : [15, 110],
      "hAnchor" : "left",
      "vAnchor" : "top",
      "wrapWidth" : 130,
      "lineSpacing" : 1.0,
      "value" : "quest body of the Secret of the Avian Troll Master quest bla",
      "color" : "white"
    }
  }
}
