{
  "denseLarge" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 30,
    "densityOffset" : 0.5,

    "typePeriod" : 20
  },

  "denseMedium" : {
    "type" : "periodic",

    "octaves" : 3,
    "alpha" : 1.2,
    "beta" : 3.0,

    "modulus" : 3,
    "modulusVariance" : 1,

    "densityPeriod" : 30,
    "densityOffset" : 0.4,

    "typePeriod" : 20
  },

  "denseSmall" : {
    "type" : "periodic",

    "octaves" : 3,
    "alpha" : 1.2,
    "beta" : 3.0,

    "modulus" : 1,
    "modulusVariance" : 0,

    "densityPeriod" : 20,
    "densityOffset" : 0.3,

    "typePeriod" : 16
  },

  "scatteredSmall" : {
    "type" : "periodic",

    "octaves" : 3,
    "alpha" : 1.2,
    "beta" : 3.0,

    "modulus" : 5,
    "modulusVariance" : 8,

    "densityPeriod" : 20,
    "densityOffset" : 0.3,

    "typePeriod" : 16
  },

  "scatteredPots" : {
    "type" : "random",

    "blockProbability" : 0.01
  },
  
    "scatteredDangerous" : {
    "type" : "random",

    "blockProbability" : 0.09
  },

  "oceanRare" : {
    "type" : "random",

    "blockProbability" : 0.09
  },

  "scatteredLarge" : {
    "type" : "periodic",

    "octaves" : 3,
    "alpha" : 1.2,
    "beta" : 3.0,

    "modulus" : 9,
    "modulusVariance" : 8,

    "densityPeriod" : 20,
    "densityOffset" : 0.3,

    "typePeriod" : 16
  },

  "moderateClumps" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 6,
    "modulusVariance" : 4,

    "densityPeriod" : 10,
    "densityOffset" : -0.1,

    "typePeriod" : 10
  },

  "rareClumpySmall" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 4,
    "modulusVariance" : 3,

    "densityPeriod" : 10,
    "densityOffset" : -0.3,

    "typePeriod" : 10
  },

  "rareClumpyLarge" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 10,
    "densityOffset" : -0.4,

    "typePeriod" : 10
  },

  "denseSurfaceCrops" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 9,
    "densityOffset" : -0.35,

    "typePeriod" : 10
  },

  "surfaceCrops" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 10,
    "densityOffset" : -0.4,

    "typePeriod" : 10
  },

  "undergroundCrops" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 4,

    "densityPeriod" : 8,
    "densityOffset" : -0.3,

    "typePeriod" : 10
  },

  "undergroundVines" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 3,
    "modulusVariance" : 2,

    "densityPeriod" : 20,
    "densityOffset" : -0.25,

    "typePeriod" : 10
  },

  "surfaceCapsules" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 12,
    "modulusVariance" : 4,

    "densityPeriod" : 4,
    "densityOffset" : -0.4,

    "typePeriod" : 10
  },

  "undergroundCapsules" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 3.5,
    "modulusVariance" : 2.5,

    "densityPeriod" : 10,
    "densityOffset" : -0.3
  },

  "potsRare" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 12,
    "modulusVariance" : 4,

    "densityPeriod" : 4,
    "densityOffset" : -0.4,

    "typePeriod" : 10
  },

  "tiyDist" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 2,

    "densityPeriod" : 200,
    "densityOffset" : -0.23,

    "typePeriod" : 40
  },

  "tiyDistRare" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 8,
    "modulusVariance" : 2,

    "densityPeriod" : 40,
    "densityOffset" : -0.5,

    "typePeriod" : 40
  },

  "tiyDistPlatform" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 180,
    "modulusVariance" : 0,

    "densityPeriod" : 45,
    "densityOffset" : 0.1,

    "typePeriod" : 40
  },

  "tiyDistTerrainfeatures" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 180,
    "modulusVariance" : 0,

    "densityPeriod" : 45,
    "densityOffset" : 0.1,

    "typePeriod" : 40
  },

  "randomEncounter" : {
    "type" : "periodic",

    "octaves" : 2,
    "alpha" : 2.0,
    "beta" : 2.0,

    "modulus" : 180,
    "modulusVariance" : 0,

    "densityPeriod" : 45,
    "densityOffset" : 0.1,

    "typePeriod" : 40
  },

  "randomEncounterUnderground" : {
    "type" : "random",

    "blockProbability" : 0.0007
  },

  "rareItems" : {
    "type" : "random",

    "blockProbability" : 0.0001
  },
 
  "overgroundChests" : {
    "type" : "random",

    "blockProbability" : 0.0012
  },

  "overgroundRareChests" : {
    "type" : "random",

    "blockProbability" : 0.001
  },
 
  "undergroundChests" : {
    "type" : "random",

    "blockProbability" : 0.0001
  },

			  "mainBiomeMicrodungeon" : {
				"type" : "random",

				"blockProbability" : 0.3
			  },

  "undergroundtechChests" : {
    "type" : "random",

    "blockProbability" : 0.00001
  },

  "layer1Chests" : {
    "type" : "random",

    "blockProbability" : 0.0003
  },

  "layer2Chests" : {
    "type" : "random",

    "blockProbability" : 0.0004
  },

  "layer3Chests" : {
    "type" : "random",

    "blockProbability" : 0.0005
  },

  "minibiomeChests" : {
    "type" : "random",

    "blockProbability" : 0.0025
  },

  "undergroundChallengeDoors" : {
    "type" : "random",

    "blockProbability" : 0
  },

				  "undergroundOreRocks" : {
					"type" : "random",

					"blockProbability" : 0.015

				  },
  
  "hazardUndergroundCeilingTop" : {
    "type" : "random",

    "blockProbability" : 0.04
  },

  "hazardUndergroundCeilingMid" : {
    "type" : "random",

    "blockProbability" : 0.08
  },

  "hazardUndergroundCeilingLower" : {
    "type" : "random",

    "blockProbability" : 0.12
  },

  "hazardUndergroundCeilingCore" : {
    "type" : "random",

    "blockProbability" : 0.16
  },

  "hazardUndergroundTop" : {
    "type" : "random",

    "blockProbability" : 0.016
  },

  "hazardUndergroundMid" : {
    "type" : "random",

    "blockProbability" : 0.02
  },

  "hazardUndergroundLower" : {
    "type" : "random",

    "blockProbability" : 0.024
  },

  "hazardUndergroundCore" : {
    "type" : "random",

    "blockProbability" : 0.028
  },

  "ultraRare" : {
    "type" : "random",

    "blockProbability" : 0.00035
  },

  "veryRare" : {
    "type" : "random",

    "blockProbability" : 0.000001
  },

  "rare" : {
    "type" : "random",

    "blockProbability" : 0.000005
  },

  "uncommon" : {
    "type" : "random",

    "blockProbability" : 0.00002
  },

  "common" : {
    "type" : "random",

    "blockProbability" : 0.6
  },

  "superCommon" : {
    "type" : "random",

    "blockProbability" : 1.0
  },
  
		"noSpawn" : {
		"type" : "random",

		"blockProbability" : 0.00
	  },
  
		"prettyOften" : {
		"type" : "random",

		"blockProbability" : 0.03
	  },
  
  "everywhere" : {
    "type" : "random",

    "blockProbability" : 1.0
  }
}
