{
  "ancientgateway" : {
    "message" : "Hey ass-butt, don't you dare leave me in the middle of nowhere!"
  },

  "lunarbase01" : {
    "message" : "The mining facility looks deserted. I am receiving life readings but they are unusual to say the least."
  },

  "lunarbase02" : {
    "message" : "The facility appears to be on lockdown, and is running on emergency power. We should look for a breaker."
  },

  "lunarbase03" : {
    "message" : "An initial scan has detected both Erchius and human readings from these creatures. Proceed with caution."
  },

  "lunarbase04" : {
    "message" : "The Erchius readings here are much stronger. Be careful."
  },

  "lunarbase05" : {
    "message" : "RUN! <<<<"
  },

  "lunarbase06" : {
    "message" : "I'm detecting lethal levels of Erchius activity in your immediate area. Please proceed with extreme caution."
  },

  "lunarbase07" : {
    "message" : "Erchius crystals are immune to conventional weaponry, you'll need to find another way to damage it."
  },

  "lunarbase08" : {
    "message" : "There's enough Erchius here to fully repair the ship's FTL drive."
  },

  "floranmission101" : {
    "message" : "These ruins appear to date back thousands of years. It is probable that you are in sacred grounds."
  },

  "floranmission102" : {
    "message" : "I am reading a lot of different life signs in these tunnels. I would advise caution here."
  },

  "floranmission103" : {
    "message" : "That girl is young for a hunter, yet she seemed calm in these tunnels. Intriguing."

  },

  "floranmission104" : {
    "message" : "The hunters in these tunnels seem determined to take out the competition. What is it that they are hunting?"
  },

  "floranmission105" : {
    "message" : "This residue is organic in origin. Something large must have produced it. I will analyse the data."
  },

  // ----------------------------------------------------------------

  "test" : {
    "message" : "Testing, testing... one, two, three."
  },

  "testemote" : {
    "message" : "Are you angry, brother?",
    "frame" : "yell.1"
  },

  "testimage" : {
    "message" : "Hello there, dear.",
    "portraitImage" : "/ai/portraits/horseboobsportrait.png:idle.0"
  }
}