{
  "action" : "actions",
  "list" : [
    {
      "action" : "projectile",
      "inheritDamageFactor" : 1,
      "type" : "cnsstoneshower"
    },
    {
      "action" : "explosion",
      "foregroundRadius" : 1,
      "backgroundRadius" : 0,
      "explosiveDamageAmount" : 100,
      "delaySteps" : 2
    },
	{
      "action" : "sound",
      "options" : [ "/sfx/gun/cnsstonehit.ogg" ]
    }

  ]
}
