{
  "keypressTimeout" : 0.05,
  "keypadSound" : "/sfx/interface/keypad_press.ogg",
  "warpSound" : "/sfx/interface/warp.ogg",
  "errorSound" : "/sfx/interface/nav_insufficient_fuel.ogg",
  "scanSound" : "/sfx/interface/scan.ogg",
  "onSound" : "/sfx/interface/nav_computer_on.ogg",
  "offSound" : "/sfx/interface/nav_computer_off.ogg",

  "indicatorPulseLevel" : 1.2,
  "indicatorPulseTime" : 1.25,
  "indicatorPulseMin" : 0.2,

  "focusIndicatorLeft" : "/interface/cockpit/selectedWest.png",
  "focusIndicatorTop" : "/interface/cockpit/selectedNorth.png",
  "focusIndicatorRight" : "/interface/cockpit/selectedEast.png",
  "focusIndicatorBottom" : "/interface/cockpit/selectedSouth.png",
  "focusIndicatorCenter" : "/interface/cockpit/selectedCenter.png",
  "focusIndicatorScale" : 0.5,

  "hoverIndicatorTL" : "/interface/cockpit/selectedSmall_TopLeft.png",
  "hoverIndicatorTR" : "/interface/cockpit/selectedSmall_TopRight.png",
  "hoverIndicatorBL" : "/interface/cockpit/selectedSmall_BottomLeft.png",
  "hoverIndicatorBR" : "/interface/cockpit/selectedSmall_BottomRight.png",
  "hoverIndicatorScale" : 1.0,

  "bookmarkIndicator" : "/interface/cockpit/bookmarkhover.png",
  "bookmarkIndicatorScale" : 0.5,
  "bookmarkIndicatorBasePosition" : [0, -0.3],

  "youAreHereIndicator" : "/interface/cockpit/youareherehover.png",
  "youAreHereIndicatorScale" : 0.5,
  "youAreHereIndicatorBasePosition" : [0, 0.3],

  "starmapScreenScale" : 3.0,
  "starmapScreenSlowMovement" : 0.18,
  "starmapScreenFastMovement" : 0.36,
  "starmapSelectDiameter" : 10,
  "starmapIndicatorSize" : 8,
  "constellationLineColor" : [200, 200, 255, 128],
  "constellationLineWidth" : 1.0,

  "starmapNameFontSize" : 8,
  "starmapNameDrawPosition" : [0, 8],
  "starmapTypeColor" : {
    "default" : [255, 255, 255, 255],
    "whitestar" : [255, 255, 255, 255],
    "bluestar" : [100, 100, 255, 255],
    "yellowstar" : [255, 255, 50, 255],
    "orangestar" : [255, 150, 50, 255],
    "redstar" : [255, 50, 50, 255]
  },
  "starmapTypeDescription" : {
    "default" : "Mysterious Star",
    "whitestar" : "Gentle Star",
    "orangestar" : "Eccentric Star",
    "yellowstar" : "Radioactive Star",
    "bluestar" : "Frozen Star",
    "redstar" : "Fiery Star"
  },

  "travelLineDashLength" : 10,
  "travelLineColor" : [255, 255, 255, 100],
  "travelLineWidth" : 1,

  "intraSystemFuelcost" : 0,

  "backgroundLayers" : [
    {
      "image" : "/interface/cockpit/bgstars.png",
      "scale" : 0.5,
      "parallax" : 10
    },
    {
      "image" : "/interface/cockpit/nebula1.png",
      "scale" : 0.5,
      "parallax" : 3.7
    },
    {
      "image" : "/interface/cockpit/grid.png",
      "scale" : 0.5,
      "parallax" : 1.2
    }
  ],

  "orbitRings" : "/celestial/system/orbitallines/<level>_<topbottom>.png",
  "orbitPathScale" : 0.5,

  "systemOrbitScales" : [0.06, 0.1, 0.14, 0.19, 0.23, 0.27, 0.31, 0.35, 0.40, 0.44, 0.48, 0.52],
  "systemOrbitPositions" : [
    [273, 0],
    [241, 26],
    [160, 45],
    [-160, 45],
    [-241, 26],
    [-273, 0],
    [-241, -26],
    [-140, -48],
    [-50, -55],
    [50, -55],
    [140, -48],
    [241, -26]
  ],

  "systemNameDrawPosition" : [197, 135],
  "systemNameFontSize" : 12,
  "systemHoverNameDrawPosition" : [197, 125],
  "systemHoverNameFontSize" : 8,

  "systemCenter" : [197, 75],

  "systemSelectDiameter" : 10,
  "systemIndicatorSize" : 14,

  "planetCenter" : [95, 75],

  "planetMetadataContainerOffset" : [194, 2],
  "planetMetadataContainerFile" : "/interface/cockpit/blue.png",

  "satelliteNameDrawPosition" : [210, 136],
  "satelliteNameColor" : [240, 240, 240],
  "satelliteNameEmptyText" : "(no planet selected)",
  "satelliteNameFontSize" : 8,

  "worldInfoFontSize" : 8,

  "threatLevelText" : {
    "label" : {
      "pos" : [208, 120],
      "text" : "",
      "size" : 8,
      "color" : [140, 164, 228]
    },
    "value" : {
      "pos" : [212, 111],
      "text" : "",
      "size" : 8
    }
  },
  
  "threatLevelToColor" : [
    [ 0, 165, 213], //TL 1
    [ 0, 213, 160], //TL 2
    [ 0, 213, 60 ], //TL 3
    [ 60, 213, 0 ], //TL 4
    [ 180, 213, 0], //TL 5
    [ 213, 195, 0], //TL 6
    [ 213, 140, 0], //TL 7
    [ 213, 100, 0], //TL 8
    [ 213, 0, 0 ],  //TL 9
    [ 138, 0, 0 ]   //TL 10
  ],

  "threatLevelToText" : [
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    "",
    ""
  ],

  "planetTypeLabel" : {
    "pos" : [208, 98],
    "text" : "",
    "size" : 8,
    "color" : [140, 164, 228]
  },

  "planetTypeToDescription" : {
// iron tier 1
    "garden" : "",
// (a) steel tier 2
    "forest" : "",
    "desert" : "",
// titanium tier 3
    "snow" : "",
    "savannah" : "",
    "ocean" : "",
// (a) durasteel tier 4
    "toxic" : "",
    "jungle" : "",
    "alien" : "",
// aegisalt, rubium, violium tier 5
    "arctic" : "",
    "tundra" : "",
// (a) impervium, ferozium, cerulium tier 6
    "volcanic" : "",
    "midnight" : "",
    "scorched" : "",
    "magma" : "",
// other
    "moon" : "",
    "asteroids" : "",
    "ancientgateway" : "",
    "barren" : ""
  },

  "dayLengthText" : {
    "label" : {
      "pos" : [208, 38],
      "text" : "",
      "size" : 8,
      "color" : [110, 130, 163]
    },
    "value" : {
      "pos" : [264, 38],
      "text" : "",
      "size" : 8,
      "color" : [ 175, 180, 204 ]
    }
  },

  "sizeText" : {
    "label" : {
      "pos" : [208, 28],
      "text" : "",
      "size" : 8,
      "color" : [110, 130, 163]
    },
    "value" : {
      "pos" : [264, 28],
      "text" : "",
      "size" : 8,
      "color" : [ 175, 180, 204 ]
    }
  },

  "gravityText" : {
    "label" : {
      "pos" : [208, 18],
      "text" : "",
      "size" : 8,
      "color" : [110, 130, 163]
    },
    "value" : {
      "pos" : [264, 18],
      "text" : "",
      "size" : 8,
      "color" : [ 175, 180, 204 ]
    }
  },
  "baseGravityLevel" : 75,

  "hazardText" : {
    "pos" : [342, 74],
    "text" : "",
    "size" : 8,
    "color" : [ 217, 254, 255 ]
  },
  "hazardIconsCenter" : [360, 58],
  "hazardIconsSpacing" : [20, 0],
  "disabledHazards" : [
    "beamaxe"
  ],
  "defaultHazardImage" : "/interface/cockpit/hazards/caution.png",
  "hazardToImage" : {
    "breathProtection" : "/interface/cockpit/hazards/nooxygen.png"
  },

  "weatherText" : {
    "pos" : [343, 120],
    "text" : "",
    "size" : 8,
    "color" : [ 217, 254, 255 ]
  },

  "planetIndicatorSize" : 40,
  "satelliteIndicatorSize" : 25,
  "planetSelectDiameter" : 20,

  "planetaryOrbitScales" : [0.5, 0.6, 0.7, 0.8, 0.9, 1.0],
  "planetaryOrbitPositions" : [
    [90, 0],
    [75, 30],
    [55, 60],
    [-55, 60],
    [-75, 30],
    [-90, 0],
    [-75, -30],
    [-55, -60],
    [-30, -70],
    [30, -70],
    [55, -60],
    [75, -30]
  ],

  "processingAnimation" : {
    "frames" : [
      [6, "/interface/cockpit/processing.png" ]
    ],
    "duration" : 0.1
  },

  "zoomSliderPosition" : [
    [44, 218], //starmap
    [44, 228], //system
    [44, 238]  //planet
  ],

  "ftlOfflineText" : {
    "pos" : [4, 2],
    "text" : "FTL DRIVE OFFLINE",
    "size" : 10,
    "color" : [ 255, 0, 0 ]
  },

  "ftlAnimation" : {
    "frames" : [
      [36, "/interface/cockpit/consoleanim/consolejump1.png" ],
      [36, "/interface/cockpit/consoleanim/consolejump2.png" ],
      [36, "/interface/cockpit/consoleanim/consolejump3.png" ],
      [36, "/interface/cockpit/consoleanim/consolejump4.png" ],
      [36, "/interface/cockpit/consoleanim/consolejump5.png" ],
      [20, "/interface/cockpit/consoleanim/consolejump6.png" ]
    ],

    "disembark" : [0, 85],
    "disembarkLoop" : [86, 90],
    "disembarkTime" : 6,
    "disembarkLoopTime" : 0.2,

    "speedUp" : [91, 125],
    "speedUpLoop" : [126, 130],
    "speedUpTime" : 2.5,
    "speedUpLoopTime" : 0.2,

    "jump" : [131, 140],
    "jumpLoop" : [141, 145],
    "jumpTime" : 0.5,
    "jumpLoopTime" : 0.2,

    "speedDown" : [146, 163],
    "speedDownLoop" : [164, 168],
    "speedDownTime" : 1.5,
    "speedDownLoopTime" : 0.2,

    "arrive" : [169, 198],
    "arriveLoop" : [199, 199],
    "arriveTime" : 2,
    "arriveLoopTime" : 0.5,

    "textFrames" : [
      [70, "/interface/cockpit/textanim/textscroll1.png" ],
      [70, "/interface/cockpit/textanim/textscroll2.png" ],
      [70, "/interface/cockpit/textanim/textscroll3.png" ],
      [70, "/interface/cockpit/textanim/textscroll4.png" ]
    ],
    "textRange" : [0, 14],
    "textRangeLoop" : [15, 279],
    "textTime" : 0.25,
    "textLoopTime" : 4.41666666,
    "textWaitFrames" : 47
  },

  "guiConfig" : {
    "background" : {
      "zlevel" : 0,
      "type" : "background",
      "fileHeader" : "/interface/cockpit/consoleheader.png",
      "fileBody" : "/interface/cockpit/consolebody.png"
    },
    "consoleScreenCanvas" : {
      "zlevel" : 1,
      "type" : "canvas",
      "rect" : [40, 100, 434, 254],
      "captureMouseEvents" : true
    },
    "planetTypeDescription" : {
      "type" : "label",
      "position" : [252, 197],
      "wrapWidth" : 110,
      "zlevel" : 5,
      "hAnchor" : "left",
      "vAnchor" : "top",
      "value" : ""
    },
    "weatherIconLayout" : {
      "type" : "layout",
      "layoutType" : "flow",
      "rect" : [ 370, 176, 426, 216 ],
      "spacing" : [ 4, 4 ],
      "zlevel" : 5
    },
    "hazardIconLayout" : {
      "type" : "layout",
      "layoutType" : "flow",
      "rect" : [ 372, 110, 432, 170 ],
      "spacing" : [ 4, 4 ],
      "zlevel" : 5
    },
    "sectorBackground" : {
      "zlevel" : 2,
      "type" : "image",
      "file" : "/interface/cockpit/sector_background.png",
      "position" : [40, 240]
    },
    "processingImage" : {
      "zlevel" : 5,
      "type" : "image",
      "centered" : true,
      "file" : "/interface/cockpit/processing.png:0",
      "position" : [240, 177]
    },
    "sectorLabel" : {
      "zlevel" : 3,
      "fontSize" : 8,
      "type" : "label",
      "position" : [63, 241],
      "hAnchor" : "left"
    },
    "showBookmarkList" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/bookmarksup.png",
      "hover" : "/interface/cockpit/bookmarksover.png",
      "pressed" : "/interface/cockpit/bookmarksup.png",
      "position" : [36, 64],
      "pressedOffset" : [0, 0],
      "caption" : "BOOKMARKS",
      "fontColor" : [23, 178, 0],
      "fontColorDisabled" : [35, 110, 14],
      "textAlign" : "left",
      "textOffset" : [12, 0]
    },
    "addBookmark" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/addbookmarkup.png",
      "hover" : "/interface/cockpit/addbookmarkover.png",
      "pressed" : "/interface/cockpit/addbookmarkup.png",
      "position" : [36, 47],
      "pressedOffset" : [0, 0],
      "caption" : "ADD / EDIT BOOKMARK",
      "fontColor" : [23, 178, 0],
      "fontColorDisabled" : [35, 110, 14],
      "textAlign" : "left",
      "textOffset" : [12, 0]
    },
    "goToMyShip" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/myshipup.png",
      "hover" : "/interface/cockpit/myshipmover.png",
      "pressed" : "/interface/cockpit/myshipup.png",
      "position" : [266, 47],
      "pressedOffset" : [0, 0],
      "caption" : "YOUR SHIP",
      "fontColor" : [23, 178, 0],
      "fontColorDisabled" : [35, 110, 14],
      "textAlign" : "left",
      "textOffset" : [12, 0]
    },
    "close" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/xup.png",
      "hover" : "/interface/cockpit/xdown.png",
      "pressed" : "/interface/cockpit/xdown.png",
      "position" : [419, 263],
      "pressedOffset" : [0, -1]
    },
    "initiateJump" : {
      "zlevel" : 3,
      "type" : "button",
      "base" : "/interface/cockpit/initiatejumpup.png",
      "hover" : "/interface/cockpit/initiatejumpover.png",
      "pressed" : "/interface/cockpit/initiatejumpdown.png",
      "position" : [208, 48],
      "pressedOffset" : [0, 0]
    },
    "xCoord" : {
      "zlevel" : 3,
      "type" : "textbox",
      "regex" : "-?\\d{0,9}",
      "position" : [281, 70],
      "textAlign" : "left",
      "fontSize" : 8,
      "maxWidth" : 64,
      "color" : [2555, 0, 0]
    },
    "yCoord" : {
      "zlevel" : 3,
      "type" : "textbox",
      "regex" : "-?\\d{0,9}",
      "position" : [360, 70],
      "textAlign" : "left",
      "fontSize" : 8,
      "maxWidth" : 64,
      "color" : [255, 0, 0]
    },
    "fuelGauge" : {
      "zlevel" : 6,
      "type" : "fuelGauge",
      "position" : [178, 82]
    },
    "numpadFront" : {
      "zlevel" : 4,
      "type" : "image",
      "file" : "/interface/cockpit/numpadextension.png",
      "position" : [201, 99]
    },
    "fuelIcon" : {
      "zlevel" : 3,
      "type" : "image",
      "scale" : 0.5,
      "file" : "/interface/cockpit/fuelcosticon.png",
      "position" : [43, 102]
    },
    "fuelCost" : {
      "zlevel" : 4,
      "fontSize" : 8,
      "type" : "label",
      "position" : [58, 103],
      "hAnchor" : "left",
      "color" : [65, 218, 27],
      "value" : "0000"
    },
    "mouseIndicator" : {
      "zlevel" : 3,
      "type" : "image",
      "file" : "/interface/cockpit/mouse_zoom.png",
      "position" : [400, 104]
    },
    "zoomBar" : {
      "zlevel" : 3,
      "type" : "image",
      "file" : "/interface/cockpit/zoombar.png",
      "position" : [44, 217]
    },
    "zoomSlider" : {
      "zlevel" : 3,
      "type" : "image",
      "file" : "/interface/cockpit/zoomslider.png",
      "position" : [44, 218]
    },
    "zoomOutButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "zoomOut",
      "base" : "/interface/cockpit/zoomout.png",
      "hover" : "/interface/cockpit/zoomouthover.png",
      "pressed" : "/interface/cockpit/zoomout.png",
      "position" : [44, 210],
      "pressedOffset" : [0, 0]
    },
    "panLeftButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "null",
      "base" : "/interface/cockpit/arrow_Left.png",
      "hover" : "/interface/cockpit/arrow_Left.png",
      "pressed" : "/interface/cockpit/arrow_Left.png",
      "position" : [40, 170],
      "pressedOffset" : [2, -2]
    },
    "panRightButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "null",
      "base" : "/interface/cockpit/arrow_Right.png",
      "hover" : "/interface/cockpit/arrow_Right.png",
      "pressed" : "/interface/cockpit/arrow_Right.png",
      "position" : [420, 170],
      "pressedOffset" : [2, -2]
    },
    "panUpButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "null",
      "base" : "/interface/cockpit/arrow_Up.png",
      "hover" : "/interface/cockpit/arrow_Up.png",
      "pressed" : "/interface/cockpit/arrow_Up.png",
      "position" : [230, 240],
      "pressedOffset" : [2, -2]
    },
    "panDownButton" : {
      "zlevel" : 3,
      "type" : "button",
      "callback" : "null",
      "base" : "/interface/cockpit/arrow_Down.png",
      "hover" : "/interface/cockpit/arrow_Down.png",
      "pressed" : "/interface/cockpit/arrow_Down.png",
      "position" : [230, 106],
      "pressedOffset" : [2, -2]
    },
    "bookmarkListFrame" : {
      "zlevel" : 10,
      "type" : "button",
      "callback" : "hideBookmarkList",
      "base" : "/interface/cockpit/bookmarklistframe.png",
      "hover" : "/interface/cockpit/bookmarklistframe.png",
      "pressed" : "/interface/cockpit/bookmarklistframe.png",
      "position" : [0, 0],
      "pressedOffset" : [0, 0]
    },
    "bookmarkListLabel" : {
      "zlevel" : 11,
      "type" : "label",
      "color" : [23, 178, 0],
      "value" : "^shadow;BOOKMARKS",
      "position" : [48, 69]
    },
    "bookmarkList" : {
      "zlevel" : 11,
      "type" : "scrollArea",
      "rect" : [46, 81, 228, 209],
      "buttons" : {
        "horizontal" : {
          "forward" : {
            "base" : "/interface/bookmarks/scrollarea/harrow-forward.png",
            "hover" : "/interface/bookmarks/scrollarea/harrow-forwardhover.png",
            "pressed" : ""
          },
          "backward" : {
            "base" : "/interface/bookmarks/scrollarea/harrow-backward.png",
            "hover" : "/interface/bookmarks/scrollarea/harrow-backwardhover.png",
            "pressed" : ""
          }
        },
        "vertical" : {
          "forward" : {
            "base" : "/interface/bookmarks/scrollarea/varrow-forward.png",
            "hover" : "/interface/bookmarks/scrollarea/varrow-forwardhover.png",
            "pressed" : ""
          },
          "backward" : {
            "base" : "/interface/bookmarks/scrollarea/varrow-backward.png",
            "hover" : "/interface/bookmarks/scrollarea/varrow-backwardhover.png",
            "pressed" : ""
          }
        }
      },
      "thumbs" : {
        "horizontal" : {
          "base" : {
            "begin" : "/interface/bookmarks/scrollarea/hthumb-begin.png",
            "end" : "/interface/bookmarks/scrollarea/hthumb-end.png",
            "inner" : "/interface/bookmarks/scrollarea/hthumb-inner.png"
          },
          "hover" : {
            "begin" : "/interface/bookmarks/scrollarea/hthumb-beginhover.png",
            "end" : "/interface/bookmarks/scrollarea/hthumb-endhover.png",
            "inner" : "/interface/bookmarks/scrollarea/hthumb-innerhover.png"
          },
          "pressed" : {
            "begin" : "/interface/bookmarks/scrollarea/hthumb-beginhover.png",
            "end" : "/interface/bookmarks/scrollarea/hthumb-endhover.png",
            "inner" : "/interface/bookmarks/scrollarea/hthumb-innerhover.png"
          }
        },
        "vertical" : {
          "base" : {
            "begin" : "/interface/bookmarks/scrollarea/vthumb-begin.png",
            "end" : "/interface/bookmarks/scrollarea/vthumb-end.png",
            "inner" : "/interface/bookmarks/scrollarea/vthumb-inner.png"
          },
          "hover" : {
            "begin" : "/interface/bookmarks/scrollarea/vthumb-beginhover.png",
            "end" : "/interface/bookmarks/scrollarea/vthumb-endhover.png",
            "inner" : "/interface/bookmarks/scrollarea/vthumb-innerhover.png"
          },
          "pressed" : {
            "begin" : "/interface/bookmarks/scrollarea/vthumb-beginhover.png",
            "end" : "/interface/bookmarks/scrollarea/vthumb-endhover.png",
            "inner" : "/interface/bookmarks/scrollarea/vthumb-innerhover.png"
          }
        }
      },
      "children" : {
        "bookmarkItemList" : {
          "type" : "list",
          "callback" : "null",
          "schema" : {
            "selectedBG" : "/interface/bookmarks/list/selected.png",
            "unselectedBG" : "/interface/bookmarks/list/unselected.png",
            "spacing" : [0, 2],
            "memberSize" : [170, 22],
            "listTemplate" : {
              "itemButton" : {
                "type" : "button",
                "callback" : "selectBookmark",
                "size" : [170, 22],
                "position" : [0, 0],
                "pressedOffset" : [0, 0],
                "base" : "/interface/bookmarks/list/unselected.png",
                "hover" : "/interface/bookmarks/list/selected.png",
                "pressed" : "/interface/bookmarks/list/unselected.png",
                "zlevel" : -1
              },
              "icon" : {
                "type" : "image",
                "position" : [3, 3],
                "file" : "/interface/bookmarks/icons/barren.png",
                "mouseTransparent" : true
              },
              "name" : {
                "type" : "label",
                "position" : [23, 11],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "Bookmark Name",
                "color" : [255, 255, 255],
                "mouseTransparent" : true
              },
              "planetName" : {
                "type" : "label",
                "position" : [23, 3],
                "hAnchor" : "left",
                "width" : 120,
                "value" : "Planet Name",
                "color" : [180, 180, 180],
                "mouseTransparent" : true
              },
              "editButton" : {
                "type" : "button",
                "callback" : "editBookmark",
                "position" : [151, 3],
                "pressedOffset" : [0, 0],
                "base" : "/interface/bookmarks/list/editup.png",
                "hover" : "/interface/bookmarks/list/edithover.png",
                "pressed" : "/interface/bookmarks/list/editup.png"
              }
            }
          }
        }
      }
    }
  }
}
