{
  "refreshInterval" : 2.0,
  "initialcodex" : {
    "glitch" : [ "controls", "survivalguide" ],
    "human" : [ "controls", "survivalguide" ],
    "avian" : [ "controls", "survivalguide" ],
    "apex" : [ "controls", "survivalguide" ],
    "floran" : [ "controls", "survivalguide" ],
    "hylotl" : [ "controls", "survivalguide" ],
    "novakid" : [ "controls", "survivalguide" ],
    "penguin" : [ "controls", "survivalguide" ]
  }
}
